@using RequestsForRights.Web.Infrastructure.Helpers
@model IEnumerable<RequestsForRights.Web.Models.ViewModels.RequestsCountByStateTypesViewModel>

@{
    Layout = null;
}

@foreach (var value in Model.ToList())
{
    var requestSateType = value.RequestStateType;
    <li>
        <a href="@Url.Action("Index", "Request")" class="rr-dropdown-menu-request-state-type" data-id="@requestSateType.IdRequestStateType">
            @RequestHelper.PluralRequestState(value.RequestStateType.Name)
            @if (value.RequestCount > 0)
            {
                <span class="rr-requests-menu-badge badge">@(value.RequestCount > 99 ? "99+" : value.RequestCount.ToString())</span>
            }
        </a>
    </li>
}