@using RequestsForRights.Infrastructure.Helpers
@model RequestsForRights.Models.ModelViews.NotSeenRequestsViewModel

@{
    Layout = null;
    var notSeenAgg = (from row in Model.NotSeenRequests
        group row.IdRequest by row.RequestStates.OrderByDescending(rs => rs.IdRequestState).
            FirstOrDefault().IdRequestStateType
        into gs
        select new
        {
            IdRequestStateType = gs.Key,
            Count = gs.Count()
        }).ToList();
}

@foreach (var requestStateType in Model.RequestStateTypes)
{
    <li>
        <a href="@Url.Action("Index", "Request", new { requestStateType.IdRequestStateType })">
            @RequestHelper.PluralRequestState(requestStateType.Name)
            @{
                var notSeenItem =
                    notSeenAgg.FirstOrDefault(r => r.IdRequestStateType == requestStateType.IdRequestStateType);
                var notSeenCount = 0;
                if (notSeenItem != null)
                {
                    notSeenCount = notSeenItem.Count > 99 ? 99 : notSeenItem.Count;
                }
            }
            @if (notSeenCount > 0)
            {
                <span class="rr-requests-menu-badge badge">@notSeenCount</span>
            }
        </a>
    </li>
}