@using RequestsForRightsV2.Infrastructure.Helpers
@model IEnumerable<RequestsForRightsV2.Models.ModelViews.NotSeenRequestsByState>

@{
    Layout = null;
}

@foreach (var item in Model)
{
    <li>
        <a href="@Url.Action("Index", "Request", new {item.RequestState.IdRequestState})">
            @RequestHelper.PluralRequestState(item.RequestState.Name)
            @{
                var notSeenCount = item.NotSeenRequests.Count();
                notSeenCount = notSeenCount > 99 ? 99 : notSeenCount;
            }
            @if (notSeenCount > 0)
                {
                    <span class="rr-requests-menu-badge">@notSeenCount</span>
                }
        </a>
    </li>
}