@using RequestsForRights.Infrastructure.Helpers
@model IEnumerable<RequestsForRights.Models.ModelViews.RequestsCountByStateTypesViewModel>

@{
    Layout = null;
}

@foreach (var value in Model.ToList())
{
    var requestSateType = value.RequestStateType;
    <li>
        <a href="@Url.Action("Index", "Request", new { requestSateType.IdRequestStateType })">
            @RequestHelper.PluralRequestState(value.RequestStateType.Name)
            @if (value.RequestCount > 0)
            {
                <span class="rr-requests-menu-badge badge">@value.RequestCount</span>
            }
        </a>
    </li>
}