@model IEnumerable<RequestsForRights.Domain.Entities.RequestAgreement>
<div role="tabpanel" class="tab-pane fade rr-tab-pane" id="rr-agreements-content">
    Agreements
    <div class="text-center rr-edit-panel">
        <div class="btn-group" role="group" aria-label="Панель действий">
            <a href="@Url.Action("Index", "Request")"
               class="btn btn-default"
               title="Вернуться к перечню"
               aria-label="Назад">
                <span class="glyphicon glyphicon-circle-arrow-left"></span>
                Назад
            </a>
        </div>
    </div>
</div>
