@{
    dynamic securityService = ViewData["SecurityService"];
    if (securityService == null)
    {
        return;
    }
}

<div role="tabpanel" class="tab-pane fade rr-tab-pane" id="rr-agreements-content">
    <div class="rr-agreements clearfix" id="rr-agreements">
        @Html.Partial("Request/AgreementsContent")
    </div>

    <div class="text-center rr-edit-panel rr-agreement-tab-edit-panel">
        <div class="btn-group" role="group" aria-label="Панель действий">
            <a href="@Url.Action("Index", "Request")"
               class="btn btn-default"
               title="Вернуться к перечню"
               aria-label="Назад">
                <span class="glyphicon glyphicon-circle-arrow-left"></span>
                Назад
            </a>
        </div>
    </div>
</div>
