<ul class="nav nav-tabs rr-requests-tabs" role="tablist">
    <li role="presentation" class="active" id="rr-request-tab">
        <a href="#rr-request-content" aria-controls="request" role="tab" data-toggle="tab">
            Заявка <span class="badge rr-badge">0</span>
        </a>
    </li>
    <li role="presentation" id="rr-agreement-tab">
        <a href="#rr-agreements-content" aria-controls="agreements" role="tab" data-toggle="tab">
            Согласование
        </a>
    </li>
    <li role="presentation" id="rr-comments-tab">
        <a href="#rr-comments-content" aria-controls="comments" role="tab" data-toggle="tab">
            Комментарии <span class="badge rr-comments-badge">0</span>
        </a>
    </li>
    <li role="presentation" id="rr-executors-tab">
        <a href="#rr-executors-content" aria-controls="executors" role="tab" data-toggle="tab">
            Исполнители
        </a>
    </li>
</ul>
