<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="#request" aria-controls="request" role="tab" data-toggle="tab">Заявка</a>
    </li>
    <li role="presentation">
        <a href="#agreements" aria-controls="agreements" role="tab" data-toggle="tab">Согласование</a>
    </li>
    <li role="presentation">
        <a href="#descriptions" aria-controls="descriptions" role="tab" data-toggle="tab">Комментарии</a>
    </li>
</ul>
