@using System.Globalization
@using RequestsForRights.Domain.Entities
@model IEnumerable<RequestsForRights.Models.Models.ResourceUserRightModel>

@{
    Layout = null;
}
<div id="main-table-wrapper" class="rr-table-wrapper">
    @if (Model == null)
    {
        return;
    }

    @if (!Model.Any())
    {
        <div class="text-center text-info">Права отсутствуют</div>
        return;
    }


    <table class="table table-hover">
        <thead>
        <tr>
            <th>Право</th>
            <th>Дата выдачи</th>
            <th>Дополнительно</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var rightGroup in Model.GroupBy(r => new { r.IdRequestUser, r.RequestUserSnp }))
            {
                <tr>
                    <td colspan="4"><strong>@rightGroup.Key.RequestUserSnp</strong></td>
                </tr>
                foreach (var right in rightGroup.Select(r => r))
                {
                    var extInfo = "";
                    if (right.IdDelegateFromUser != null)
                    {
                        extInfo += "Право делегировано<br>";
                        if (right.DateTo != null)
                        {
                            extInfo += string.Format("Дата истечения: {0}<br>",
                                right.DateTo.Value.ToString("dd.MM.yyyy", CultureInfo.CurrentCulture));
                        }
                        if (right.DelegateFromUserSnp != null)
                        {
                            
                        }
                    }
                    <tr>
                        <td>@right.ResourceRightName</td>
                        <td>@right.DateFrom</td>
                        <td>@extInfo</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>