body {
    padding-top: 50px;
    padding-bottom: 20px;
    overflow-y: scroll;
}

body.modal-open #deleteModal {
    overflow-y: hidden;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error, select.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-errors li {
    list-style: none;
    padding: 0;
}

.validation-summary-valid {
    display: none;
}

.rr-requests-menu-badge {
    background-color: #e46161;
    font-size: 14px;
    margin-left: 5pt;
}

.rr-delete-error-alert {
    margin-top: 20px;
}

.rr-filter-control {
    margin-top: 10pt;
}

.rr-ext-filter-button {
    margin-bottom: 15px;
}

button.rr-ext-filter-button {
    background-color: #3276b1;
}

button.rr-ext-filter-button.collapsed {
    background-color: #428bca;
}

button.rr-ext-filter-button.collapsed:hover {
    background-color: #3276b1;
}

.rr-table-wrapper table {
    margin-bottom: 0;
}

.rr-button-icon {
    margin-right: 5pt;
}

.rr-edit-column .btn-group  {
    font-size: 0;
    white-space: nowrap;
}

.rr-edit-column .btn-group .btn {
    float: none;
    display: inline-block;
}

.rr-table-wrapper table tr td.rr-column,
.rr-table-wrapper table tr th.rr-column,
.rr-table-wrapper table tr:hover td.rr-column,
.rr-column {
    border-right: 1px solid #ddd;
    position: static;
}

.rr-column-header a {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #333;
    text-decoration: none;
}

.rr-column-header a span {
    color: #333;
    top: 3px;
}

.rr-column-header a span.glyphicon-sort {
    color: #ccc;
}

.rr-page-counter {
    vertical-align: top;
    display: inline-block;
    padding: 26px 0 26px 10px;
}

.rr-edit-panel {
    margin-top: 15px;
}

.rr-comment-tab-edit-panel, .rr-agreement-tab-edit-panel {
    margin-top: 0;
}

.rr-add-comment-panel, .rr-agreement-panel, .rr-cancel-agreement-panel,
.rr-add-coordinator-panel {
    margin-bottom: 15px;
}

.rr-edit-panel > .btn-group a, .rr-edit-panel > .btn-group button,
.rr-add-comment-panel > .btn-group a, .rr-add-comment-panel > .btn-group button,
.rr-add-request-user-panel > button, .rr-remove-user-button,
.rr-cancel-agreement-panel > .btn-group button, .rr-cancel-agreement-panel > .btn-group a,
.rr-agreement-panel > .btn-group button, .rr-agreement-panel > .btn-group a,
.rr-edit-user-panel > .btn-group button, .rr-edit-user-panel > .btn-group a,
.rr-add-coordinator-panel > .btn-group button, .rr-add-coordinator-panel > .btn-group a,
.rr-remove-right-button
 {
    width: 12em;
}

.rr-add-right-panel {
    margin-bottom: 20px;
}

.tab-content > .rr-tab-pane, .rr-request-user .collapse {
    margin-top: 20px;
    position: absolute;
    left: -33333px;
    top: -33333px;
    height: 1px;
    width: 1px;
    display: block;
    visibility: hidden;
}

.tab-content > .rr-tab-pane.active {
    position: inherit;
    left: inherit;
    width: inherit;
    height: inherit;
    visibility: inherit;
}

.rr-tab-pane > .panel {
    margin-bottom: 15px;
}

.rr-requests-tabs a {
    white-space: nowrap;
}

.rr-badge { 
    background-color: #e46161;
    display: none;
}

.rr-comments-badge {
    display: none;
}

.rr-pagination {
    margin-left: 15px;
}

@media(min-width: 768px) {
    .rr-col-sm-no-left-padding {
        padding-left: 0;
        margin-left: 0;
    }

    .rr-col-sm-no-right-padding {
        padding-right: 0;
        margin-right: 0;
    }

    .rr-col-sm-no-side-padding {
        padding-right: 0;
        margin-right: 0;
        padding-left: 0;
        margin-left: 0;
    }

    .rr-ext-filter-button {
        margin-top: 24px;
    }

    .rr-add-button {
        margin-top: 20px;
    }

    .rr-pagination {
        margin-left: 0;
    }
}

.rr-request-user .form-control[readonly] {
    cursor: default;
}

.rr-add-request-user-panel {
    margin-bottom: 15px;
    margin-top: 15px;
}

.autocomplete-suggestions {
    overflow: auto;
    border: 1px solid #CBD3DD;
    background: #FFF;
}

.autocomplete-suggestion {
    overflow: hidden;
    padding: 5px 15px;
    white-space: nowrap;
    cursor: pointer;
}

.autocomplete-suggestions strong {
    color: #428bca;
    font-weight: normal;
}

.autocomplete-selected {
    background: #eee;
}

.rr-request-user-autocomplete-department, .rr-request-user-autocomplete-unit,
.rr-coordinator-autocomplete-department, .rr-coordinator-autocomplete-unit {
    color: #aaa;
    font-size: 12px;
}

.rr-comments {
    overflow: auto;
}

.blockquote-reverse, blockquote.pull-right {
    padding-right: 15px;
    padding-left: 0;
    text-align: right;
    border-right: 5px solid #eee;
    border-left: 0;
}

.rr-comments .popover {
    display: block;
    position: relative;
    margin-bottom: 20px;
    max-width: 60%;
    width: 60%;
}

.rr-add-comment-panel, .rr-request-comment-editor,
.rr-cancel-agreement-panel, .rr-request-cancel-agreement-editor,
.rr-request-coordinator-editor, .rr-add-coordinator-panel {
    display: none;
}

.rr-comment-datetime {
    font-size: 12px;
    color: #aaa;
}

.rr-comments-empty, .rr-agreements-empty {
    margin-bottom: 20px;
}

.rr-required-field:after {
    content: '*';
    position: absolute;
    color: #b94a48;
    margin-left: 6px;
}

.rr-request-user .rr-request-right .form-group {
    margin-left: 0;
    margin-right: 0;
}

.rr-request-user .rr-request-right {
    padding-left: 0;
    padding-right: 0;
}

.rr-request-right .rr-remove-right-button {
    margin-right: 15px;
    margin-bottom: 5px;
}

.rr-edit-user-panel {
    margin-top: 15px;
}

.rr-request-rights .list-group-item {
    padding-left: 0;
    padding-right:0;
}

.popover {
    max-width: 90%;
}

@media(min-width: 768px) {
    .popover {
        max-width: 40%;
    }
}