body {
    padding-top: 50px;
    padding-bottom: 20px;
    overflow-y: scroll;
    position: relative;
}

body.modal-open #deleteModal {
    overflow-y: hidden;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error, select.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-errors li {
    list-style: none;
    padding: 0;
}

.validation-summary-valid {
    display: none;
}

.rr-requests-menu-badge {
    background-color: #e46161;
    font-size: 14px;
    margin-left: 5pt;
}

.rr-error-alert {
    margin-top: 20px;
}

.rr-filter-control {
    margin-top: 10pt;
}

.rr-ext-filter-button {
    margin-bottom: 15px;
}

button.rr-ext-filter-button {
    background-color: #3276b1;
}

button.rr-ext-filter-button.collapsed {
    background-color: #428bca;
}

button.rr-ext-filter-button.collapsed:hover {
    background-color: #3276b1;
}

.rr-table-wrapper table {
    margin-bottom: 0;
}

.rr-button-icon {
    margin-right: 5pt;
}

.rr-edit-column .btn-group  {
    font-size: 0;
    white-space: nowrap;
}

.rr-edit-column .btn-group .btn {
    float: none;
    display: inline-block;
}

.rr-table-wrapper table tr td.rr-column,
.rr-table-wrapper table tr th.rr-column,
.rr-table-wrapper table tr:hover td.rr-column,
.rr-column {
    border-right: 1px solid #ddd;
    position: static;
}

.rr-column-header a {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #333;
    text-decoration: none;
}

.rr-column-header a span {
    color: #333;
    top: 3px;
}

.rr-column-header a span.glyphicon-sort {
    color: #ccc;
}

.rr-page-counter {
    vertical-align: top;
    display: inline-block;
    padding: 26px 0 26px 10px;
}

.rr-edit-panel {
    margin-top: 15px;
}

.rr-comment-tab-edit-panel, .rr-agreement-tab-edit-panel {
    margin-top: 0;
}

.rr-add-comment-panel, .rr-agreement-panel, .rr-cancel-agreement-panel,
.rr-add-coordinator-panel {
    margin-bottom: 15px;
}

.rr-agreement-sending {
    display: none;
    padding: 7px;
    margin-bottom: 15px;
}

.rr-edit-panel > .btn-group a, .rr-edit-panel > .btn-group button,
.rr-add-comment-panel > .btn-group a, .rr-add-comment-panel > .btn-group button,
.rr-add-request-user-panel > button, .rr-remove-user-button,
.rr-cancel-agreement-panel > .btn-group button, .rr-cancel-agreement-panel > .btn-group a,
.rr-agreement-panel > .btn-group button, .rr-agreement-panel > .btn-group a,
.rr-edit-user-panel > .btn-group button, .rr-edit-user-panel > .btn-group a,
.rr-add-coordinator-panel > .btn-group button, .rr-add-coordinator-panel > .btn-group a,
.rr-remove-right-button {
    width: 12em;
}

.rr-add-request-user-delegate-panel > button,
.rr-edit-user-delegate-panel > .btn-group button, .rr-edit-user-delegate-panel > .btn-group a {
    width: 14em;
}

.rr-add-right-panel {
    margin-bottom: 15px;
}

.tab-content > .rr-tab-pane, .rr-request-user-wrapper .collapse {
    margin-top: 20px;
    position: absolute;
    left: -33333px;
    top: -33333px;
    height: 1px;
    width: 1px;
    display: block;
    visibility: hidden;
}

.tab-content > .rr-tab-pane.active {
    position: inherit;
    left: inherit;
    width: inherit;
    height: inherit;
    visibility: inherit;
}

.rr-tab-pane > .panel {
    margin-bottom: 15px;
}

.rr-requests-tabs a {
    white-space: nowrap;
}

.rr-badge { 
    background-color: #e46161;
    display: none;
}

.rr-comments-badge {
    display: none;
}

.rr-pagination {
    margin-left: 15px;
}

.rr-col-sm-no-side-padding-always {
    padding-right: 0;
    margin-right: 0;
    padding-left: 0;
    margin-left: 0;
}

.rr-report-display-style {
    margin-bottom: 15px;
}

.rr-request-user .form-control[readonly] {
    cursor: default;
}

.rr-add-request-user-panel {
    margin-bottom: 15px;
    margin-top: 15px;
}

.autocomplete-suggestions {
    overflow: auto;
    border: 1px solid #CBD3DD;
    background: #FFF;
}

.autocomplete-suggestion {
    overflow: hidden;
    padding: 5px 15px;
    white-space: nowrap;
    cursor: pointer;
}

.autocomplete-suggestions strong {
    color: #428bca;
    font-weight: normal;
}

.autocomplete-selected {
    background: #eee;
}

.rr-request-user-autocomplete-department, .rr-request-user-autocomplete-unit,
.rr-coordinator-autocomplete-department, .rr-coordinator-autocomplete-unit {
    color: #aaa;
    font-size: 12px;
}

.rr-comments {
    overflow: visible;
}

.blockquote-reverse, blockquote.pull-right {
    padding-right: 15px;
    padding-left: 0;
    text-align: right;
    border-right: 5px solid #eee;
    border-left: 0;
}

.rr-comments .popover {
    display: block;
    position: relative;
    margin-bottom: 20px;
    max-width: 60%;
    width: 60%;
}

.rr-add-comment-panel, .rr-request-comment-editor,
.rr-cancel-agreement-panel, .rr-request-cancel-agreement-editor,
.rr-request-coordinator-editor, .rr-add-coordinator-panel {
    display: none;
}

.rr-comment-datetime {
    font-size: 12px;
    color: #aaa;
}

.rr-comments-empty, .rr-agreements-empty, .rr-agreements-request-state {
    margin-bottom: 20px;
}

.rr-comment .thumbnail {
    position: absolute;
    width: 96px;
    height: 96px;
    margin-top: -48px;
    -ms-border-radius: 6px;
    border-radius: 6px;
    max-width: none;
    max-width: initial;
    display: none;
}

.rr-comment .popover.left .thumbnail {
    left: 10px;  
}

.rr-comment .popover.right .thumbnail {
    right: 10px;
}

.rr-comment .popover {
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}

@media(min-width: 992px) {
    .rr-comment .thumbnail {
        display: block;
    }

    .rr-comment .rr-comment-title-phone {
        display: none;
    }
}

.rr-required-field:after {
    content: '*';
    position: absolute;
    color: #b94a48;
    margin-left: 6px;
}

.rr-request-user-wrapper .rr-request-right .form-group {
    margin-left: 0;
    margin-right: 0;
}

.rr-request-user-wrapper .rr-request-right {
    padding-left: 0;
    padding-right: 0;
}

.rr-request-right .rr-remove-right-button {
    margin-right: 15px;
    margin-bottom: 5px;
}

.rr-edit-user-panel {
    margin-top: 15px;
}

.rr-request-rights .list-group-item {
    padding-left: 0;
    padding-right:0;
}

.popover {
    max-width: 90%;
}

.rr-help .rr-contents {
    display: none;
    margin-top: 20px;
}

.rr-help .rr-contents li > ul li  {
    display: none;
}

.rr-help .rr-contents li.active > ul li  {
    display: block;
}

.rr-help .rr-contents a {
    color: #767676;
}

.rr-help .rr-contents li.active > a {
    color: #428bca;
    font-weight: bold;
}

.rr-help .rr-contents > ul > li.active > ul a {
    font-weight: normal;
    padding-left: 30px;
}

.rr-help .rr-contents li.active > a:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #428bca;
    left: 0;
    top: 0;
}

.rr-help .rr-fix-p-mainmenu-offset {
    margin-top: -60px;
    padding-top: 60px;
}

.rr-help .rr-fix-h-mainmenu-offset {
    margin-top: -50px;
    padding-top: 70px;
}

.rr-help .rr-content p {
    text-align: justify;
}

.rr-help .rr-content p.rr-img-wrapper {
    text-align: center;
}

.rr-help .primer { font-style: italic; }

.rr-help p { text-indent: 30pt; }

.rr-help p.rr-img-wrapper {
    text-indent: 0;
}

.rr-help .rr-img-wrapper img {
    max-width: 100%;
}

.rr-help .rr-img-title {
    text-align: center;
}

.rr-help .rr-content ul {
    padding-left: 44pt;
}

.rr-table-wrapper td p {
    margin-bottom: 0;
}

.rr-sub-cell-unit, .rr-sub-cell-department {
    font-size: 12px;
    color: #aaa;
}

.rr-list-group-item-danger {
    color: #a94442;
    background-color: #f2dede;
}

.rr-report-right-group .panel-collapse > .list-group .list-group-item:last-child {
    border-bottom: 0;
}

.rr-report-right-group .panel-heading + .list-group .list-group-item:first-child {
    border-top-width: 0;
}

.rr-report-right-group .panel-collapse > .list-group .list-group-item:first-child {
    -ms-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -ms-border-top-left-radius: 0;
    border-top-left-radius: 0;
}

.rr-report-right-group .panel-collapse > .list-group .list-group-item {
    border-width: 1px 0;
}

.rr-report-right-group .panel-collapse > .list-group {
    margin-bottom: 0;
}

.rr-report-right-group {
    margin-bottom: 15px;
    overflow: hidden;
}

.rr-loading-data {
    margin-bottom: 15px;
    display: none;
}

.rr-request-right-resource select option[disabled] {
    display: none;
}

.rr-request-delegation-from-user, .rr-request-delegation-to-user {
    margin-bottom: 15px;
}

@media(min-width: 768px) {
    .rr-col-sm-no-left-padding {
        padding-left: 0;
        margin-left: 0;
    }

    .rr-col-sm-no-right-padding {
        padding-right: 0;
        margin-right: 0;
    }

    .rr-col-sm-no-side-padding {
        padding-right: 0;
        margin-right: 0;
        padding-left: 0;
        margin-left: 0;
    }

    .rr-ext-filter-button {
        margin-top: 24px;
    }

    .rr-add-button {
        margin-top: 20px;
    }

    .rr-pagination {
        margin-left: 0;
    }
}

@media(min-width: 768px) {
    .popover {
        max-width: 40%;
    }

    .rr-help .rr-contents {
        display: block;
        width: 240px;
    }

    .form-group.rr-request-delegation-from-date, .form-group.rr-request-delegation-to-date {
        margin-right: 0;
        margin-left: 0;
    }
}

@media(min-width: 992px) {
    .rr-help .rr-contents {
        width: 235px;
    }
}

@media(min-width: 1200px) {
    .rr-help .rr-contents {
        width: 285px;
    }
}

.rr-request-delegation-to-user, .rr-request-delegation-from-user {
    padding-left: 0;
    padding-right: 0;
}

.panel.rr-delegation-general-info-panel {
    margin-bottom: 15px;
}

.clearfix {
    clear: both;
}

@media (min-width: 1200px) {
    .rr-request-delegation-to-user {
        padding-left: 15px;
    }

    .rr-request-delegation-from-user {
        padding-right: 15px;
    }

    .rr-request-delegation-to-user .panel,  .rr-request-delegation-from-user .panel {
        height: 100%;
    }

    .rr-request-user-lg-flex-wrapper {
        display: flex;
    }
}

.rr-right .form-group {
    overflow: auto;
}

.rr-right {
    padding: 15px 0;
}

.rr-rights {
    margin-bottom: 15px;
}

.rr-add-internet-address-panel, .rr-add-device-address-panel,
.rr-add-owner-person-panel, .rr-add-operator-person-panel,
.rr-add-owner-person-act-panel, .rr-add-operator-person-act-panel,
.rr-add-operator-act-panel, .rr-add-using-act-panel,
.rr-add-authority-act-panel {
    margin-bottom: 10px;
}

.panel .rr-internet-addresses, .panel .rr-device-addresses,
.panel .rr-owner-persons, .panel .rr-operator-persons,
.panel .rr-owner-person-acts, .panel .rr-operator-person-acts,
.panel .rr-operator-acts, .panel .rr-using-acts,
.panel .rr-authority-acts {
    margin-bottom: 10px;
}

.panel .rr-internet-address .checkbox-inline {
    margin-top: 7px;
}

.rr-resource-label-stub {
    display: none;
}

@media(min-width: 768px) { 
    .rr-resource-label-stub {
        margin-bottom: 5px;
        display: block;
    }
}

@media (min-width: 768px)
{
    .rr-right .control-label {
        text-align: right;
    }
}

.rr-right .control-label {
    padding-top: 7px;
    margin-top: 0;
    margin-bottom: 0;
}

.rr-resource-form-group-header {
    padding-left: 15px;
}

.rr-resource-address-panel, .rr-resource-person-panel {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.rr-act-file input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.rr-act-file.form-group {
    margin-bottom: 15px;
}

.rr-act-file-link, .rr-act-file-name {
    padding: 6px;
    padding-left: 0;
}

.rr-act-file label {
    margin-right: 15px;
}

@media(min-width: 768px) {
    .rr-act-file label {
        width: auto;
        margin-bottom: 0;
    }

    .rr-act-file.form-group {
        margin-bottom: 0;
    }

    .rr-act-file-link, .rr-act-file-name {
        padding-left: 6px;
    }
}

.rr-act-file-name {
    display: none;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.rr-resource-has-not-internet-access-checkbox {
    margin-bottom: 10px;
}

.rr-detail-resource-tab-content dl {
    margin-top: 0;
    margin-bottom: 0;
}

.rr-detail-resource-tab-content dt {
    margin-top: 10px;
}

.rr-detail-resource-tab-content dl.dl-horizontal dt {
    margin-top: 0;
}

.rr-detail-resource-panel-body {
    padding-top: 5px;
    padding-left: 0;
    padding-right: 0;
}

.rr-detail-resource-list-group-item {
    padding-top: 5px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 15px;
}


.rr-detail-resource-tab-content .rr-resource-address-panel {
    margin-top: 15px;
    margin-bottom: 0;
}

.rr-detail-resource-tab-content .rr-resource-person-panel {
    margin-top: 15px;
    margin-bottom: 5px;
}

.rr-detail-resource-tab-content .rr-owner-persons,
.rr-detail-resource-tab-content .rr-operator-persons,
.rr-detail-resource-tab-content .rr-owner-person-acts,
.rr-detail-resource-tab-content .rr-operator-person-acts {
    margin-bottom: 0;
}

.rr-detail-resource-tab-content .rr-act-file-link {
    padding: 10px 15px 0;
    margin-bottom: 10px;
}

button[name="deleteOwnerPersonAct"],
button[name="deleteOperatorPersonAct"],
button[name="deleteOwnerPerson"],
button[name="deleteOperatorPerson"],
button[name="deleteOperatorAct"],
button[name="deleteUsingAct"],
button[name="deleteAuthorityAct"] ,
button[name="deleteDeviceAddress"]{
    margin-bottom: 5px;
}

.rr-resource-request-perm-departments .checkbox.disabled label, .rr-resource-request-perm-departments .checkbox.disabled {
    cursor: not-allowed;
}

.rr-report-total-alert {
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .rr-agreements .dl-horizontal dd {
        margin-left: 240px;
    }

    .rr-agreements .dl-horizontal dt {
        width: 220px;
    }
}

.rr-agreement-panel > .btn-group a.rr-accept-cancel-agreement-button {
    width: 14em;
}