body {
    padding-top: 50px;
    padding-bottom: 20px;    
}

body.modal-open #deleteModal {
    overflow-y: hidden;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.rr-requests-menu-badge {
    background-color: #e46161;
    font-size: 14px;
    margin-left: 5pt;
}

.rr-filter-control {
    margin: 20pt -15px;
}

.rr-table-wrapper table {
    margin-bottom: 0;
}