@model RequestsForRights.Domain.Entities.Resource

@{
    Layout = null;
}

<div class="panel panel-primary">
    <div class="panel-heading">Подразделения, имеющие права на подачу заявок на данный ИР</div>
    @if (Model.RequestAllowedDepartments.Any())
    {
        <ul class="list-group">
            @foreach (var requestPermissionsDepartment in Model.RequestAllowedDepartments)
            {
                <li class="list-group-item">
                    @requestPermissionsDepartment.Name
                </li>
            }
        </ul>
    }
    else
    {
        <ul class="list-group">
            <li class="list-group-item">Все подразделения</li>
        </ul>
    }
</div>
