@model HandleErrorInfo

@{
    ViewBag.Title = "Ошибка";
}

<h2 class="text-danger">Ошибка 500. Внутренняя ошибка сервера</h2>
<p>На сервере произошла неизвестная ошибка. Обратитесь к администратору по телефону 349-662</p>