@model dynamic

@{
    Layout = null;
}

<div class="alert alert-danger rr-error-alert" style="display: none" role="alert">
    <button type="button" class="close" data-hide="rr-error-alert" aria-label="Закрыть">
        <span aria-hidden="true">&times;</span>
    </button>
    <span class="rr-alert-message"></span>
</div>