@{
    ViewBag.Title = "Доступ запрещен";
    Layout = "_Layout.cshtml";
}

<h2 class="text-danger">Доступ запрещен</h2>

<p>Для получения дополнительных прав доступа обратитесь к диспечерку МКУ «ЦИТиТО» по телефону 349-671</p>
