@model RequestsForRights.Models.FilterOptions.FilterOptions

@{
    Layout = null;
}

<div class="rr-filter-control">
    @using (Ajax.BeginForm("GetDataTable", new AjaxOptions
    {
        UpdateTargetId = "main-table-wrapper",
        InsertionMode = InsertionMode.Replace,
        Url = Url.Action("GetDataTable")
    }))
    {
        <div class="form-group col-sm-3 rr-col-sm-no-left-padding">
            @Html.Label("PageSize", "Отображено записей")
            @Html.DropDownList("PageSize", new[] {10, 25, 50, 100}.Select(x => new SelectListItem
            {
                Value = x.ToString(),
                Text = x.ToString(),
                Selected = x == Model.PageSize
            }), new {@class = "form-control"})
        </div>
        <div class="form-group col-sm-9 rr-col-sm-no-right-padding">
            @Html.Label("Filter", "Поиск")
            @Html.TextBox("Filter", Model.Filter, new {@class = "form-control", placeholder = "Введите текст для поиска"})
        </div>
        <div class="clearfix"></div>
    }
</div>