<?xml version="1.0" ?>
<nlog autoReload="true" throwExceptions="true" internalLogFile="${basedir}/App_Data/nlog.txt" internalLogLevel="Debug"
 internalLogToConsole="true">

  <targets>
    <target name="filelog" type="File" fileName="${basedir}/App_Data/error.log"
    layout="${date} : ${message}" />
    <target name="eventlog" type="EventLog" source="My App" log="Application"
    layout="${date} : ${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="filelog" />
    <logger name="*" minlevel="Error" writeTo="eventlog" />
  </rules>
</nlog>