<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
      <add name="DatabaseContext"
        connectionString="Data Source=b777;Initial Catalog=RequestForRights;User ID=rqrights;Password=rqrights;MultipleActiveResultSets=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.webServer>
    <staticContent xdt:Transform="Insert">
      <mimeMap fileExtension=".woff" mimeType="application/octet-stream" />
    </staticContent>
    <modules runAllManagedModulesForAllRequests="false" xdt:Transform="Insert">
      <remove name="BundleModule" />
      <add name="BundleModule" type="System.Web.Optimization.BundleModule" />
    </modules>
  </system.webServer>
</configuration>
