@{
    ViewBag.Title = "Доступ запрещен";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-danger">Ошибка 403. Доступ запрещен</h2>
<p>Для получения дополнительных прав доступа обратитесь к диспечеру МКУ «ЦИТиТО» по телефону 349-671</p>
