@{
    ViewBag.Title = "Главная";
}

<div class="rr-help">
    <div class="rr-contents col-md-3 col-sm-4" id="rr-contents"
         data-spy="affix"
         data-offset-top="0"
         data-offset-bottom="0">
        <ul class="nav">
            <li>
                <a href="#ch_1">1 Общие сведения</a>
                <ul class="nav">
                    <li>
                        <a href="#ch_1_1">1.1 Роли пользователей системы</a>
                    </li>
                    <li>
                        <a href="#ch_1_2">1.2 Жизненный цикл заявки</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#ch_2">2 Программные комплексы (ПК)</a>
                <ul class="nav">
                    <li>
                        <a href="#ch_2_1">2.1 Просмотр и редактирование списка программных комплексов</a>
                    </li>
                    <li>
                        <a href="#ch_2_2">2.2 Добавление программного комплекса</a>
                    </li>
                    <li>
                        <a href="#ch_2_3">2.3 Редактирование программного комплекса</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#ch_3">3 Информационные ресурсы (ИР)</a>
                <ul class="nav">
                    <li>
                        <a href="#ch_3_1">3.1 Просмотр списка информационных ресурсов</a>
                    </li>
                    <li>
                        <a href="#ch_3_2">3.2 Добавление ИР</a>
                    </li>
                    <li>
                        <a href="#ch_3_3">3.3 Редактирование ИР</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#ch_4">4 Права/ресурсы </a>
                <ul class="nav">
                    <li>
                        <a href="#ch_4_1">4.1 Просмотр списка прав</a>
                    </li>
                    <li>
                        <a href="#ch_4_2">4.2 Добавление прав</a>
                    </li>
                    <li>
                        <a href="#ch_4_3">4.3 Редактирование права/ресурса</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#ch_5">5 Заявки (З)</a>
                <ul class="nav">
                    <li>
                        <a href="#ch_5_1">5.1 Добавление новой заявки</a>
                    </li>
                    <li>
                        <a href="#ch_5_1_1">5.1.1 Добавление новой заявки на изменение прав пользователей</a>
                    </li>
                    <li>
                        <a href="#ch_5_1_2">5.1.2 Добавление новой заявки на подключение пользователей</a>
                    </li>
                    <li>
                        <a href="#ch_5_1_3">5.1.3 Добавление новой заявки на отключение пользователей</a>
                    </li>
                    <li>
                        <a href="#ch_5_1_4">5.1.4 Добавление новой заявки на делегирование</a>
                    </li>
                    <li>
                        <a href="#ch_5_2">5.2 Утверждение заявок</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="rr-content col-md-9 col-sm-8 pull-right">
        <h1 id="ch_1">1 Общие сведения.</h1>
        <p>
            Информационноя система (далее - ИС) «Реестр прав пользователей на информационные ресурсы» предназначена для ведения и учета перечня прав, а так же их использования в подразделениях администрации города Братска. Основная функция данного реестра&nbsp; - быстрое определение списков прав/ресурсов, которыми обладают пользователи на текущий момент, в разрезе информационных ресурсов и самих пользователей. Подключение или отключение прав осуществляется через создание заявки. Чтобы лучше понять принцип работы программы, обратимся к <a href="#рис1">рисунок 1</a>.
        </p>
        <p id="рис1" class="rr-img-wrapper">
            <img src="../../Content/Images/Help/image089_3.jpg" alt=" Упрощенная схема создания заявки" width="65%"><br> <br> Рис. 1 - Упрощенная схема создания заявки
        </p>
        <p>Сверху рисунка и иерархии объектов, связанных с правами, находятся программные комплексы.</p>
        <p>
            Программный комплекс (далее - ПК) – это сущность, которая представляет категорию информационных ресурсов (далее - ИР). <br>
            <span class="primer"> Например: ПК – «Программное обеспечение» является категорией как для ИР – «Имущество», так и для ИР – «Реестр лицензий на ПО».</span>
        </p>
        <p>
            На нижнем уровне иерархии находятся права/ресурсы, которые относятся к соответствующему ИР.<br>
            <span class="primer">Например: право&nbsp; «Администратор» и право «Чтение/запись лицензий», относятся к одному и только одному ИР – «Реестр лицензий на ПО».</span>
        </p>
        <p>
            Поясним, что означает «право/ресурс» в контексте ИС «Реестр прав пользователей на информационные ресурсы» : это сущность которая, в случае права - определяет набор действий (например: чтение, запись, выполнение), разрешённых для выполнения субъектам (например, пользователям системы) над объектами данных; в случае ресурса – определяет возможность доступа или использования указанного ресурса (например: доступ к локальному ресурсу <em>\\mcs.br\adm\администрация</em>). <br> При создании заявки выбираются один или несколько пользователей, к каждому из которых добавляются необходимые права/ресурсы. Описание работы ИС «Реестр прав пользователей на информационные ресурсы» представлено в следующих разделах.
        </p>

        <h1 id="ch_1_1">1.1 Роли пользователей системы</h1>
        <p>"Ответственный". Ответственному даны права на создание, удаление, редактирование и утверждение заявок для своего департамента. При создании заявки Ответственный видит пользователей только из своего департамента. Данный пользователь так же может утверждать или отклонять заявку другого департамента, если в ней были запрошены права департамента Ответственного. Ответственный имеет право редактировать и удалять заявки до того момента, пока заявка не преобрела статус "Утвержденная". </p>
        <p>"Администратор". Пользователь, которому доступны для просмотра и редактирования заявки всех департаментов. При создании заявок Администратор видит пользователей всех департаментов. Администратор имеет возможность редактировать заявки, изменять статусы всех заявок на любой другой статус и удалять заявки на любом этапе жизни заявки. Так же Администратор имеет возможность отправлять уведомления Ответственным, о отклоненных заявках. Администратором является пользователь МКУ "ЦИТ и ТО".</p>
        <p>"Диспетчер". Пользователь, ответственный за проверку заявок со статусом "Утвержденная" на корректность. В случае, если заявка корректна, то Диспетчер передает заявку в исполнение, в противном случае - на дополнительное согласование. Диспетчером является пользователь МКУ "ЦИТ и ТО".</p>

        <h1 id="ch_1_2">1.2 Жизненный цикл заявки</h1>
        <p>В данной системе заявка имеет следующие этапы жизни:</p>
        <p>
            "На согласовании" - заявка получает данный статус на этапе её создания, если в заявке присутствуют права информационных ресурсов департаментов, отличных от департамента Ответственного.
            Заявка будет существовать в данном статусе, пока Ответственные всех департаментов, чьи права на ИР присутствуют в данной заявке, не утвердят их. Заявка со статусом "Утвержденная" так же может стать "На согласовании", если не пройдет проверку на этапе проверки у Диспетчера.
        </p>
        <p>"Утвержденные" - заявка получит данный статус при создании заявки, в которой нет прав на ИР других департаментов, отличных от департамента Ответственного. Статус "Утвержденная" так же будет присвоен заявке со статусом "На согласовании", если все Ответственные, чьи права на ИР присутствуют в заявке, утвердят ее.</p>
        <p>"На исполнении" - заявка, имеющая статус "Утвержденные", после проверки ее "Диспетчером" на корректность, принимает данный статус, в случае положительного результата проверки. </p>
        <p>"Выполненные" - заявка со статусом "На исполнении" передается Диспетчером МКУ "ЦИТ и ТО" в отдел информационно-технической поддержки, после исполнения которой, в системе она преобретает статус "Выполненные". </p>
        <p>"Отклоненные" - заявка на этапе "На согласовании" может быть отклонена Ответственным, а так же заявка в статусе "Утвержденные" может быть отклонена Диспетчером.</p>

        <h1 id="ch_2">2 Программные комплексы (ПК)</h1>

        <p>
            Работа с сущностями данного типа доступна только для Администратора. Взаимодействие с объектами ПК осуществляется через пункты главного меню программы <strong>"Справочники"</strong>, подпункт <strong> «Программные комплексы»</strong>, <a href="#рис2">рисунок 2</a>.
        </p>

        <p id="рис2" class="rr-img-wrapper">
            <img src="../../Content/Images/Help/prog_komplecs.png" width="90%"> <br>Рис.2 - Главное меню программы, пункт «Программные комплексы».
        </p>

        <h2 id="ch_2_1">2.1 Просмотр и редактирование списка программных комплексов</h2>
        <p>
            При выборе из главного меню программы следующих пунктов <strong> «Справочники» -&gt; «Программные комплексы» -&gt; «Список прог. комплексов»</strong> открывается список ПК, см. <a href="#рис3">рисунок 3</a>.
        </p>

        <p id="рис3" class="rr-img-wrapper">
            <img src="../../Content/Images/Help/prog_komplecs_2.png" width="90%"> <br>Рис. 3 - Список всех ПК
        </p>

        <p>На рисунке 3 мы видим, что список всех ПК представлен в виде таблицы.</p>
        <p>
            В каждой строке имеются значки для работы с выбранным ПК: редактирование - <img src="../../Content/Images/Help/image008.jpg"> &nbsp; и удаление -<img src="../../Content/Images/Help/image010.jpg"> &nbsp; .
        </p>
        <p>
            Внизу таблицы находится панель навигации, <a href="#рис4">рисунок 4</a>, с помощью которой можно переходить на другие страницы записей ПК и определять кол-во записей на странице, а также посмотреть общее кол-во записей (в данном случае их две)&nbsp; и текущий диапазон записей (здесь: 1-2).
        </p>
        <p id="рис4" class="rr-img-wrapper">
            <img src="../../Content/Images/Help/image011.png" width="80%"> <br> Рис. 4 – Панель навигации
        </p>
        <p>
            Строки в таблице можно сортировать по убыванию и по возрастанию. При нажатии на значок &nbsp;<img src="../../Content/Images/Help/image013.png"> выбранного столбца, происходит сортировка и обновление таблицы.
        </p>


        <h2 id="ch_2_2">2.2 Добавление программного комплекса.</h2>
        <p>
            Для добавления нового ПК необходимо нажать на пункт меню <strong> «Справочники» -&gt; «Программные комплексы» - &gt; «Добавить прог.комплекс»</strong>, см. <a href="#рис2">рисунок 2</a>.
        </p>
        <p>
            А так же добавить новый ПК можно из &nbsp;списка всех объектов ПК, который открывается при выборе пунктов меню «<strong>Программные комплексы» -&gt; «Список прог. комплексов»</strong>, см. <a href="#рис3">рисунок 3</a>, нажав на кнопку<img src="../../Content/Images/Help/button_PK.png" width="200">.
        </p>
        <p>
            Появится окно для добавления &nbsp;ПК, <a href="#рис5">рисунок 5</a>.
        </p>
        <p id="рис5" class="rr-img-wrapper">
            <img src="../../Content/Images/Help/prog_komplecs_3.png" width="80%"><br>Рис.5 – Добавление ПК
        </p>
        <p>
            В данном окне заполним поля «<strong>Наименование</strong>» и «<strong>Описание</strong>» для создаваемого ПК и нажмем кнопку <img src="../../Content/Images/Help/image018.jpg" width="70">. Перед нами снова откроется таблица со списком всех имеющихся ПК, содержащее информационное сообщение, <a href="#рис6"> рисунок 6:</a>
        </p>

        <p id="рис6" class="rr-img-wrapper">
            <img src="../../Content/Images/Help/prog_komplecs_4.png" width="90%"><br> Рис.6 – Информационное сообщение о добавлении ПК
        </p>
        <p>
            Добавление ПК можно отменить, во время заполнения его данных, нажав на кнопку <img src="../../Content/Images/Help/image022.jpg" width="140">.
        </p>


        <br>
        <h2 id="ch_2_3">2.3 Редактирование программного комплекса</h2>
        <p>
            Редактировать содержимое ПК можно при нажатии на значок <img src="../../Content/Images/Help/image008.jpg"> &nbsp;&nbsp;в Списке программных комплексов, см. <a href="#рис3">рисунок 3</a>. При этом откроется форма редактирования ПК, которая совпадает с формой добавления объекта ПК, <a href="#рис7">рисунок 7</a>.
        </p>
        <p id="рис7" class="rr-img-wrapper">
            <img src="../../Content/Images/Help/prog_komplecs_6.png" width="70%"><br> Рис. 7 - Редактирование записи ПК
        </p>

        <p>
            Попробуем, к примеру, отредактировать ПК «Программное обеспечение», изменим его описание.
            Для этого изменим содержимое поля «<strong>Описание: »</strong> на следующий текст: «<em>Программное обеспечение, используемое различными департаментами</em>» и нажмем кнопку <img src="../../Content/Images/Help/image018.jpg" width="70">.
            Перед нами снова откроется таблица со списком всех имеющихся ПК, содержащее информационное сообщение, <a href="#рис8"> рисунок&nbsp;8.</a>
        </p>
        <p id="рис8" class="rr-img-wrapper">
            <img src="../../Content/Images/Help/prog_komplecs_7.png" width="90%"><br> Рис. 8 - Информационное сообщение об изменении записи ПК
        </p>
        <p>
            При удалении записи также появляется информационное сообщение. Например, удалим ПК с наименованием «Пробный», <a href="#рис9">рисунок 9:</a>
        </p>

        <p id="рис9" class="rr-img-wrapper">
            <img src="../../Content/Images/Help/prog_komplecs_5.png" width="40%"><br> Рис. 9 - Уведомляющее сообщение об удалении записи ПК.
        </p>
        <p>При рассмотрении других сущностей программы, мы увидим полностью аналогичные таблицы с записями, сортировкой и значками редактирования/удаления. Поэтому в дальнейшем описание таблиц и функций сортировки, редактирования и удаления приводиться не будет.</p>


        <h1 id="ch_3">3 Информационные ресурсы (ИР)</h1>
        <p>Работа с сущностями данного типа доступна только для Администратора.</p>
        <p>
            Взаимодействие с объектами ИР осуществляется через главное меню программы, пункт <strong>«Справочники»</strong> подпункт <strong>«Информационные ресурсы»</strong>, где можно посмотреть список всех ИР, отредактировать или добавить новый,<a href="#рис10"> рисунок 10:</a>
        </p>
        <p id="рис10" class="rr-img-wrapper">
            <img src="../../Content/Images/Help/inform_res.png" width="90%"><br> Рис. 10 – Главное меню программы, пункт «Информационные ресурсы»
        </p>

        <h2 id="ch_3_1">3.1 Просмотр и редактирование списка информационных ресурсов</h2>
        <p>
            При выборе из главного меню программы следующих пунктов <strong>«Справочники»</strong>-&gt; <strong>«Информационные ресурсы»</strong>-&gt; <strong>«Список инф. ресурсов»</strong> открывается список ИР, <a href="#рис11"> рисунок 11:</a>
        </p>
        <p id="рис11" class="rr-img-wrapper">
            <img src="../../Content/Images/Help/inform_res_1.png" width="80%"><br> Рис. 11 - Список всех ИР
        </p>
        <p>
            Работа со списком ИР аналогична работе со списком ПК,<a href="#ch_2_1"> см. раздел 2.1</a>.
        </p>

        <h2 id="ch_3_2">3.2 Добавление ИР</h2>
        <p>
            Для добавления нового ИР необходимо нажать на пункт меню <strong>«Справочники»</strong>-&gt;<strong>«Информационные ресурсы»</strong>-&gt;&nbsp;<strong>«Добавить инф. ресурс»</strong>,<a href="#рис10"> см.&nbsp;рисунок&nbsp;10.</a>
        </p>
        <p>
            Добавить новый ИР можно так же из списка всех объектов ИР,<a href="#рис11"> см. рисунок&nbsp;11 </a>, нажав на соответствующую кнопку <img src="../../Content/Images/Help/image034.png" width="20%"> .
        </p>
        <p>
            Появится окно для добавления нового ИР, <a href="#рис12"> рисунок 12:</a>
        </p>
        <p id="рис12" class="rr-img-wrapper">
            <img src="../../Content/Images/Help/inform_res_2.png" width="80%"><br>Рис. 12 - Добавление нового информационного ресурса
        </p>
        <p>
            Работа с данным окном аналогична работе с окном «Добавление программного комплекса»,<a href="#ch_2_2"> см. раздел 2.2</a>. Единственное, что можно отметить то, что необходимо указать из выпадающего списка <strong>«Программный комплекс: »</strong>, к которому будет прикреплен создаваемый ИР, и из списка <strong>«Владелец: »</strong> выбрать необходимый департамент. Выбор ПК и&nbsp; владельца является обязательным и обусловлен правильной работой логики программы.
        </p>

        <h2 id="ch_3_3">3.3 Редактирование ИР</h2>
        <p>
            Редактировать содержимое ИР можно при нажатии на значок <img src="../../Content/Images/Help/image007.png"> в Списке информационных ресурсов,<a href="#рис11"> см. рисунок&nbsp;11.</a> При этом откроется форма редактирования ИР, которая совпадает с формой добавления объекта ИР,<a href="#рис13"> рисунок 13.</a>
        </p>
        <p id="рис13" class="rr-img-wrapper">
            <img src="../../Content/Images/Help/inform_res_3.png" width="80%"><br> Рис. 13 - Редактирование записи ИР
        </p>

        <p>
            Редактирование и работа с данным окном аналогична работе с КП, <a href="#ch_2_3">см. раздел 2.3.</a>
        </p>

        <h1 id="ch_4">4 Права/ресурсы</h1>
        <p>
            Работа с сущностями данного типа доступна для Администратора. Взаимодействие с объектами права осуществляется через главное меню программы <strong>«Справочники»</strong>-&gt;<strong>«Права»</strong>, где можно посмотреть список всех прав/ресурсов, отредактировать или добавить новое(-ый), <a href="#рис14">рисунок 14:</a>
        </p>
        <p id="рис14" class="rr-img-wrapper">
            <img src="../../Content/Images/Help/pravo.png" width="90%"> <br> Рис. 14 – Главное меню программы, пункт «Права»
        </p>

        <h2 id="ch_4_1">4.1 Просмотр и редактирование списка прав</h2>
        <p>
            При выборе из главного меню программы следующих пунктов <strong>«Справочники»</strong>-&gt;<strong>«Права»</strong>-&gt;<strong> «Список прав»</strong> открывается список прав,<a href="#рис15"> рисунок&nbsp;15:</a>
        </p>
        <p id="рис15" class="rr-img-wrapper">
            <img src="../../Content/Images/Help/pravo_1.png" width="90%"> <br> Рис. 15 - Список всех прав
        </p>

        <p>
            Работа со списком прав аналогична работе со списком ПК, <a href="#ch_2_1">см. раздел 2.1.</a>
        </p>

        <h2 id="ch_4_2">4.2 Добавление прав</h2>
        <p>
            Для добавления нового права или ресурса необходимо нажать на пункт меню <strong>«Справочники»</strong>-&gt;<strong>«Права»</strong>-&gt; <strong>«Добавить право»</strong>,<a href="#рис14"> см. рисунок 14.</a>
        </p>
        <p>
            Добавить новое право/ресурса можно так же из списка всех прав, <a href="#рис15"> см. рисунок 15</a>, нажав на соответствующую кнопку <img src="../../Content/Images/Help/image044.png">.
        </p>
        <p>
            Появится окно для добавления нового права/ресурса,<a href="#рис16"> рисунок&nbsp;16:</a>
        </p>
        <p id="рис16" class="rr-img-wrapper">
            <img src="../../Content/Images/Help/pravo_2.png" width="80%"> <br> Рис. 16 - Добавление нового права/ресурса.
        </p>
        <p>
            Работа с данным окном аналогична работе по добавлению программного комплекса,<a href="#ch_2_2"> см. раздел 2.2 </a>, но имеет следующие дополнения:
        </p>
        <ul>
            <li>При добавлении нового права/ресурса, необходимо выбрать значение ИР в поле «<strong>Информационный ресурс</strong>», к которому будет прикреплено право/ресурс.</li>
            <li>Поле «<strong>Описание права</strong>» <strong>НЕ ДОЛЖНО ПОВТОРЯТЬСЯ</strong>, т.е. оно однозначно определяет пару право/ресурс! </li>
        </ul>

        <h2 id="ch_4_3">4.3 Редактирование права/ресурса</h2>
        <p>
            Редактировать содержимое права/ресурса можно при нажатии на значок &nbsp;<img src="../../Content/Images/Help/image007.png"> в форме "Список всех прав",<a href="#рис15"> см. рисунок&nbsp;15</a>. При этом откроется форма редактирования прав, которая совпадает с формой добавления права,<a href="#рис17"> рисунок 17.</a>
        </p>
        <p id="рис17" class="rr-img-wrapper">
            <img src="../../Content/Images/Help/pravo_3.png" width="90%"> <br> Рис. 17 - Редактирование прав
        </p>
        <p>
            Редактирование и работа с данным окном аналогична работе&nbsp; с КП, <a href="#ch_2_3">см. раздел 2.3.</a>
        </p>

        <h1 id="ch_5">5 Заявки (З)</h1>
        <p>Работа с сущностями данного типа доступна для всех пользователей.</p>
        <p>
            Посредством заявок реализуется изменение существующих прав пользователей. Содержимое заявки в программе представляет ту же информацию, как и содержимое в печатной заявке. Взаимодействие с данными объектами, осуществляется через главное меню программы «<strong>Заявки</strong>», &nbsp;где можно посмотреть список всех заявок от своего департамента или только своих заявок, добавить новую, отредактировать заявку, а также посмотреть заявки по статусам их выполнения,<a href="#рис18"> рисунок&nbsp;18:</a>
        </p>
        <p id="рис18" class="rr-img-wrapper">
            <img src="../../Content/Images/Help/Zayavka.png" width="90%"> <br>Рис. 18 – Главное меню программы, пункт «Заявки»
        </p>

        <p>При изменении статуса заявок, в главном меню, пункт «Заявки» подсвечиваются цифры соответствующие не просмотренным, изменившим свой статус на новый, заявкам. Изменения видны только для заявок от пользователей своего департамента, или заявок чужого департамента, в которых указано добавить права на ИР своего департамента.</p>
        <p>
            Пи нажатии кнопкой мыши на вкладку <strong>"Фильтр заявок" </strong> откроются списи фильтров для выбора нужного списка просматриваемых заявок:
        </p>
        <ul>
            <li>
                фильтр <strong>«Статус заявки:»</strong>,<a href="#рис18_1"> рисунок 18.1</a>.
                <p id="рис18_1" class="rr-img-wrapper">
                    <img src="../../Content/Images/Help/Zayavka_1.png" width="80%"> <br>Рис. 18.1 – Фильтр заявок по статусу
                </p>
                <p>Что такое статус заявки – это состояние, описывающее жизненный цикл заявки. Существуют следующие статусы заявок:</p>
                <ul>
                    <li>
                        <p>
                            <strong>«На согласовании»</strong>.
                        </p>
                    </li>
                    <li>
                        <p>
                            <strong>«Утвержденная»</strong>.
                        </p>
                    </li>
                    <li>
                        <p>
                            <strong>«На исполнении»</strong>.
                        </p>
                    </li>
                    <li>
                        <p>
                            <strong>«Выполненные»</strong>.
                        </p>
                    </li>
                    <li>
                        <p>
                            <strong>«Отмененные»</strong>.
                        </p>
                    </li>
                    <li>
                        <p>
                            <strong>«Любой статус»</strong>. При выборе данного статуса, отобразится список заявок пользователя или департамента пользователя всех статусов.
                        </p>
                    </li>
                </ul>
                <p>
                    Значения статусов заявок описаны в <a href="#ch_1_2"> разделе 1.2</a>.
                </p>
                <p>
                    При выборе в меню <strong>«Заявки»-&gt; «Статус заявок: ……….»</strong>, откроется список заявок, с соответствующим выбранным статусом. В списке заявок будет подсвечиваться зеленым цветом новые заявки этого статуса.
                </p>
            </li>

            <li>
                фильтр заявок по департаментам, <a href="#рис18_2"> рисунок&nbsp;18.2:</a>
                <p id="рис18_2" class="rr-img-wrapper">
                    <img src="../../Content/Images/Help/Zayavka_4.png" width="30%"> <br>Рис. 18.2 – Фильтр заявок по департаментам
                </p>
                <p>
                    Значение фильтра <strong>"Заявки от других департаментов"</strong> дает возможность просматривать данный список заявок, только для Администратора и Диспетчера.
                </p>
            </li>

            <li>
                фильтр заявок по типам, <a href="#рис18_3"> рисунок&nbsp;18.3:</a>
                <p id="рис18_3" class="rr-img-wrapper">
                    <img src="../../Content/Images/Help/Zayavka_3.png" width="30%"> <br>Рис. 18.3 – Фильтр по типам заявок
                </p>
                <p>Типы заявок рассмотрены в разделах 5.1.1 - 5.1.4</p>
            </li>
        </ul>
        <p>
            Для поиска нужной заявки так же можно использовать строку поиска,<a href="#рис18_4"> см.рисунок 18.4</a>. Поск реализован по всем столбцам таблицы заявок.
        </p>
        <p id="рис18_4" class="rr-img-wrapper">
            <img src="../../Content/Images/Help/Zayavka_11.png" width="90%"> <br>Рис. 18.4 – Строка поиска заявок
        </p>

        <h2 id="ch_5_1">5.1 Добавление новой заявки</h2>
        <p>
            Добавить новую заявку можно при выборе в главном меню пункта <strong>«Заявки»&nbsp;-&nbsp;&gt; «Добавить заявку».</strong>
        </p>
        <p>
            При добавлении новой заявки, будет предложено выбрать один из четырех типов заявки,<a href="#рис19"> рисунок&nbsp;19:</a>
        </p>
        <p id="рис19" class="rr-img-wrapper">
            <img src="../../Content/Images/Help/Zayavka_5.png" width="65%"> <br>Рис. 19 - Выбор типа заявки
        </p>
        <p>Рассмотрим каждый из четырех типов заявок.</p>

        <h3 id="ch_5_1_1">5.1.1 Добавление новой заявки на изменение прав пользователей</h3>
        <p>
            В заявке данного типа указываются существующие пользователи, которым добавляются, либо отменяются указанные права/ресурсы,<a href="#рис20"> рисунок 20.</a>
        </p>
        <p>
            Поле «<strong>Описание заявки: </strong>» - это служебное поле и является <strong>ОБЯЗАТЕЛЬНЫМ</strong>. &nbsp;
        </p>
        <p>
            Поле «<strong>ФИО: </strong>» - вводится фамилия пользователя, причем после трех введенных букв, программа предложит все подходящие фамилии в соответствии с введенной подстрокой.
        </p>
        <p>
            Поля «<strong>Департамент: </strong>» и «<strong>Логин: </strong>» заполняются автоматически.
        </p>
        <p id="рис20" class="rr-img-wrapper">
            <img src="../../Content/Images/Help/Zayavka_7.png" width="80%"> <br> Рис. 20 - Добавление заявки «на изменение прав пользователей»
        </p>
        <p>
            Далее нажимаем кнопку <img src="../../Content/Images/Help/image058.png"> . Появится модальное окно,<a href="#рис21"> рисунок 21</a>, где будет предложено выбрать следующие значения:
        </p>
        <ol>
            <li>Тип действия (добавить или удалить право/ресурс). </li>
            <li>ИР к которому принадлежит право/ресурс. </li>
            <li>Само право. </li>
        </ol>

        <p>
            <br> При изменении значения поля «<strong>Информационный ресурс</strong>», меняется список прав/ресурсов.
        </p>
        <p id="рис21" class="rr-img-wrapper">
            <img src="../../Content/Images/Help/Zayavka_8.png" width="65%"> <br>Рис. 21 - Добавление права/ресурса пользователю
        </p>

        <p>Таким же образом добавляем столько прав, сколько нужно для этого пользователя.</p>
        <p>
            При необходимости добавить сразу нескольких пользователей к данной заявке, следует нажать на кнопку <img src="../../Content/Images/Help/image063.jpg"> .
        </p>
        <p>
            Для удаления текущего пользователя из данной заявки используется кнопка <img src="../../Content/Images/Help/image064.png">.
        </p>
        <p>
            Когда все данные занесены необходимо нажать кнопку <img src="../../Content/Images/Help/image017.png"> , чтобы заявка сохранилась в базу программы. Если же сохранять заявку не надо, нажимаем кнопку <img src="../../Content/Images/Help/image074.jpg"> , тем самым отменяя сохранение в базу программы.
        </p>
        <p>
            При необходимости известить Ответственных или Администратора, о том что была создана заявка с запросом на их ИР, следует установить флаг <strong>Уведомить на почту ответственных и администраторов</strong>.
        </p>
        <p>&nbsp;</p>

        <h3 id="ch_5_1_2">5.1.2 Добавление новой заявки на подключение пользователей</h3>
        <p>Заявка данного типа предназначена для подключения новых пользователей к корпоративной сети и наделения их правами/ресурсами.</p>
        <p>
            Работа по созданию этой заявки полностью аналогична добавлению новой заявки на изменение прав пользователей,<a href="#ch_5_1_1"> см. раздел&nbsp;5.1.1 </a>, за исключением дополнительных полей: «<strong>Департамент:</strong>», «<strong>Должность:</strong>», «<strong>Кабинет:</strong>», «<strong>Телефон:</strong>», «<strong>Причина подключения:</strong>», «<strong>Подключить к локальной сети:</strong>», <a href="#рис22">рисунок 22.</a>
        </p>
        <p>
            Все названия этих полей говорят сами за себя и являются необязательными для заполнения, кроме поля «<strong>Департамент:</strong>», его заполнять <strong>ОБЯЗАТЕЛЬНО</strong>.
        </p>
        <p id="рис22" class="rr-img-wrapper">
            <img src="../../Content/Images/Help/Zayavka_12.png" width="90%"> <br> Рис. 22 - Добавление заявки «на подключение пользователей»
        </p>
        <p>
            При необходимости известить Ответственных или Администратора, о том что была создана заявка с запросом на их ИР, следует установить флаг <strong>Уведомить на почту ответственных и администраторов</strong>.
        </p>

        <h3 id="ch_5_1_3">5.1.3 Добавление новой заявки на отключение пользователей</h3>
        <p>Самый простой тип заявки, где указываются только пользователи, которых надо отключить от корпоративной сети.</p>
        <p>
            Поле «<strong>ФИО: </strong>» заполняется пользователем, а поля «<strong>Логин: </strong>» и «<strong>Департамент: </strong>» заполняются программой автоматически, <a href="#рис23"> рисунок 23.</a>
        </p>
        <p id="рис23" class="rr-img-wrapper">
            <img src="../../Content/Images/Help/Zayavka_13.png" width="90%"><br> Рис. 23 - Добавление заявки «на отключение пользователей»
        </p>
        <p>
            Для сохранения заявки, нажмите кнопку &nbsp;<img src="../../Content/Images/Help/image017.png">
        </p>
        <p>
            Добавление заявки можно отменить, во время заполнения ее данных, нажав на кнопку <img src="../../Content/Images/Help/image074.jpg"> .
        </p>
        <p>
            При необходимости известить Ответственных или Администратора, о том что была создана заявка с запросом на права их ИР, следует установить флаг <strong>Уведомить на почту ответственных и администраторов</strong>.
        </p>

        <h3 id="ch_5_1_4">5.1.4 Добавление новой заявки на делегирование</h3>
        <p>Заявка на передачу прав от одного пользователя другому. В данной заявке так же есть возможность делегировать права на определенный период.</p>
        <p>
            Как и в любой другой заявке, необходимо обязательно заполнить поле <strong>"Описание заявки"</strong>. В заявке заполняются данные пользователя от которого передаются права и пользователя, которому передаются права. В случае, если права делегируются временно, то следует заполнить даты в области <strong>"Период:" </strong>, <a href="#рис24"> рисунок 24.</a>
        </p>
        <p id="рис24" class="rr-img-wrapper">
            <img src="../../Content/Images/Help/Zayavka_9.png" width="65%"><br> Рис. 24 - Добавление заявки на делегирование
        </p>
        <p>
            Для сохранения заявки, нажмите кнопку &nbsp;<img src="../../Content/Images/Help/image017.png">
        </p>
        <p>
            Добавление заявки можно отменить, во время заполнения ее данных, нажав на кнопку <img src="../../Content/Images/Help/image074.jpg"> .
        </p>
        <p>
            При необходимости известить Ответственных или Администратора, о том что была создана заявка с запросом на их ИР, следует установить флаг <strong>Уведомить на почту ответственных и администраторов</strong>.
        </p>

        <h2 id="ch_5_2">5.2 Утверждение заявок</h2>
        <p>
            Как ранее говорилось в данном документе, при создании заявки она может приобрести&nbsp; статусы «<strong>На согласовании</strong>» и «<strong>Утверждена</strong>», <a href="#ch_1_2">см. начало раздела&nbsp; 1.2</a>. &nbsp;Для перехода заявки из статуса «На согласовании» в статус «Утверждена», необходимо Ответственному пользователю департамента, на установку чьих прав ИР была подана заявка, утвердить ее. Для этого следует в списке заявок, в строчке с текущей заявкой, нажать на иконку <img src="../../Content/Images/Help/image078.jpg">. Откроется окно заявки, без возможности ее редактирования, <a href="#рис25"> рисунок 25 , </a>и нажать на кнопку <img src="../../Content/Images/Help/image080.jpg" width="10%"> .
        </p>
        <p id="рис25" class="rr-img-wrapper">
            <img src="../../Content/Images/Help/image081.png" width="65%"><br> Рис. 25 – Окно просмотра заявки, без прав редактирования
        </p>
        <p>
            Откроется окно со списком всех заявок, а в меню программы «<strong>Заявки»-&gt; «Статус заявки</strong>» счетчик утвержденных заявок, будет на 1 больше. Нажав на данный счетчик, можно будет увидеть заявку в списке подсвеченных заявок со статусом «<strong>Утверждена</strong>».
        </p>
        <p>
            Изменить статус заявки на следующие уровни «<strong>На исполнении</strong>», «<strong>Выполнена</strong>» имеет право только администратор программы.
        </p>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/rr-help")
}