@{
    ViewBag.Title = "Главная";
}
<div class="rr-help">
<div class="col-md-3 col-sm-4 rr-contents" id="rr-contents"
     data-spy="affix"
     data-offset-top="0"
     data-offset-bottom="0">
    <ul class="nav">
        <li>
            <a href="#ch_1">1 Общие сведения</a>
            <ul class="nav">
                <li>
                    <a href="#ch_1_1">1.1 Роли пользователей системы</a>
                </li>
                <li>
                    <a href="#ch_1_2">1.2 Жизненный цикл заявки</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#ch_2">2 Справочник "Категории ресурсов"</a>
            <ul class="nav">
                <li>
                    <a href="#ch_2_1">2.1 Добавление категории ресурсов</a>
                </li>
                <li>
                    <a href="#ch_2_2">2.2 Просмотр и редактирование категории ресурсов</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#ch_3">3 Справочник "Информационные ресурсы"</a>
            <ul class="nav">
                <li>
                    <a href="#ch_3_1">3.1 Добавление ИР</a>
                </li>
                <li>
                    <a href="#ch_3_2">3.2 Просмотр и редактирование ИР</a>
                </li>
                <li>
                    <a href="#ch_3_3">3.3 Добавление, удаление и редактирование права на ИР</a>
                </li>
                <li>
                    <a href="#ch_3_4">3.4 Ведение реестра территориальных размещений ИР</a>
                </li>
                <li>
                    <a href="#ch_3_4_1">3.4.1 Общие сведения, сетевые адреса в сети "Интернет" и сведения о территориальном размещении</a>
                </li>
                <li>
                    <a href="#ch_3_4_2">3.4.2 Владелец и оператор ИР</a>
                </li>
                <li>
                    <a href="#ch_3_4_3">3.4.3 Правовые акты</a>
                </li>

            </ul>
        </li>

        <li>
            <a href="#ch_4">4 Заявки</a>
            <ul class="nav">
                <li>
                    <a href="#ch_4_1">4.1 Добавление новой заявки</a>
                </li>
                <li>
                    <a href="#ch_4_1_1">4.1.1 Добавление новой заявки на изменение прав пользователей</a>
                </li>
                <li>
                    <a href="#ch_4_1_2">4.1.2 Добавление новой заявки на подключение пользователей</a>
                </li>
                <li>
                    <a href="#ch_4_1_3">4.1.3 Добавление новой заявки на отключение пользователей</a>
                </li>
                <li>
                    <a href="#ch_4_1_4">4.1.4 Добавление новой заявки на делегирование</a>
                </li>
                <li>
                    <a href="#ch_4_2">4.2 Изменение статуса заявки (утвердить, отклонить, согласовать, на исполнение, выполнить)</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#ch_5">5 Отчеты </a>
            <ul class="nav">
                <li>
                    <a href="#ch_5_1">5.1 Отчет по правам конкретного сотрудника</a>
                </li>
                <li>
                    <a href="#ch_5_2">5.2 Отчет по правам на информационный ресурс</a>
                </li>
            </ul>
        </li>
    </ul>
</div>

<div class="rr-content col-md-9 col-sm-8 pull-right">
<h1 id="ch_1">1 Общие сведения.</h1>
<p>
    Реестр учета прав доступа и информационных ресурсов позволяет в электронном виде подавать заявки на
    предоставление доступа сотрудникам, а также вести информацию технического и юридического характера
    об информационных ресурсах администрации
</p>
<p>
    Главное меню программы расположено в верхней части окна и имеет вид, представленный на 
    <a href="#рис1_1">рисунке 1.1</a>.
</p>
<p id="рис1_1" class="rr-img-wrapper">
    <img src="../../Content/Images/Help/1_1.PNG">
    <div class="rr-img-title">Рис. 1.1 - Главное меню программы</div>
</p>
<p>
    Пункт меню <strong>"Перечень заявок"</strong> главного меню позволяет просмотреть перечень существующих заявок
    и при необходимости и наличии прав отредактировать, удалить, прокомментировать или согласовывать выбранную пользователем заявку.
</p>
<p id="рис1_2" class="rr-img-wrapper">
    <img src="../../Content/Images/Help/1_2.PNG">
    <div class="rr-img-title">Рис. 1.2 - Меню "Перечень заявок" главного меню программы</div>
</p>
<p>
    В данном пункте меню имеются следующие подпункты:
</p>
<ul>
    <li><strong>"Все заявки"</strong> - отобразить перечень всех заявок, просмотр которых вам разрешен</li>
    <li><strong>"Мои заявки"</strong> - отобразить перечень только тех заявок, которые были поданы вами лично</li>
    <li><strong>"Непросмотренные"</strong> - отобразить перечень всех непросмотренных заявок</li>
    <li><strong>"На согласовании"</strong> - отобразить перечень заявок, находящихся на первичном или дополнительном согласовании</li>
    <li><strong>"Утвержденные"</strong> - отобразить перечень утвержденных заявок</li>
    <li><strong>"На исполнении"</strong> - отобразить перечень заявок, которые в текущий момент находятся на исполнении</li>
    <li><strong>"Выполненные"</strong> - отобразить перечень уже выполненных заявок</li>
    <li><strong>"Отклоненные"</strong> - отобразить перечень отклоненных заявок</li>
</ul>
<p>
    При наличии новых еще непросмотренных заявок их количество с группировокй по статусу отображается справа от пунктов меню
    <strong>"На согласовании"</strong>, <strong>"Утвержденные"</strong>, <strong>"На исполнении"</strong>,
    <strong>"Выполненные"</strong>, <strong>"Отклоненные"</strong>.
</p>
<p>
    Обратите внимание, что в перечне заявок независимо от выбраннного пункта отображаются только те заявки, просмотр которых вам разрешен.
</p>
<p>
    Если вам необходима более тонкая настройка фильтрации заявок (например, выбрать все выполненные заявки за период),
    то вы можете воспользоваться специальным фильтром. Подробнее в разделе <a href="#ch_4">"4 Заявки (З)"</a>
</p>
<p>
    Пункт меню <strong>"Подать заявку"</strong> главного меню содержит подпункты, каждый из которых
    предназначен для подачи заявок определенного типа.
</p>
<p id="рис1_3" class="rr-img-wrapper">
    <img src="../../Content/Images/Help/1_3.PNG">
    <div class="rr-img-title">Рис. 1.3 - Меню "Подать заявку" главного меню программы</div>
</p>
<p>
    Всего существует 4 типа заявок и соответствующих им пунктов меню:
</p>
<ul>
    <li><strong>Заявки на подключение нового сотрудника</strong> - заявку данного типа стоит подавать только
        при подключении нового (только что устроившегося на работу) сотрудника к информационной инфраструктуре Администрации.
        Исключение составляют сотрудники сторонних организаций без подключения к сетевой инфраструктуре Администрации,
        информация о которых ранее не вносилась в данный реестр (т.е. ранее заявки на них не подавались)</li>
    <li><strong>Заявки на изменение прав доступа</strong> - наиболее часто используемый тип заявок.
        Заявку данного типа заводят при необходимости изменить права сотрудника: выдать право на какой-то информационный ресурс
        или наоборот лишить сотрудника права доступа. Не подавайте заявки на изменение прав, если права необходимо временно делегировать
        от одного сотрудника другому. Для этого предназначены <strong>заявка на временное делегирование прав</strong> (см. ниже)
    </li>
    <li><strong>Заявки на отключение сотрудника</strong> - данный тип заявок предназначен для лишения сотрудника сразу всех прав на все
        информационные ресурсы, а также для блокировки учетной записи пользователя. Подавать подобную заявку следует только в случае
        увольнения сотрудника, ухода его в декрет и в других аналогичных случаях</li>
    <li><strong>Заявка на временное делегирование прав</strong> - заявки этого типа используются, когда необходимо временно
        передать права от одного сотрудника другому (например, на время отпуска, командировки и т.д.). Важной особенностью данных заявок является возможность
        указать период делегирования</li>
</ul>
<p>
    Пункт меню <strong>"Справочники"</strong> главного меню предназначен для ответственных за ведение реестра территориальных размещений информационных систем и администраторов
    и не представляет интереса для других категорий пользователей.
</p>
<p id="рис1_4" class="rr-img-wrapper">
    <img src="../../Content/Images/Help/1_4.PNG">
    <div class="rr-img-title">Рис. 1.4 - Меню "Справочники" главного меню программы</div>
</p>
<p>
    Подпункт <strong>"Информационные ресурсы"</strong> (далее будет использоваться сокращение для "Информационные ресурсы" - ИР) данного пункта меню позволяет отобразить и при необходимости изменить перечень всех информационных ресурсов администрации.
    Подпункт <strong>"Категории ресурсов"</strong> позволяет просмотреть или изменить существующие категории ресурсов. 
    Категории ресурсов предназначены исключительно для удобной группировки ресурсов.
</p>
<p>
    Пункт меню <strong>"Отчеты"</strong> дает возможность получить информацию по правам сотрудников на ИР на любую дату.
</p>
<p id="рис1_5" class="rr-img-wrapper">
    <img src="../../Content/Images/Help/1_5.PNG">
    <div class="rr-img-title">Рис. 1.5 - Меню "Отчеты" главного меню программы</div>
</p>
<p>Подпункт <strong>"Права конкретного сотрудника"</strong> позволяет сформировать отчет о правах отдельно взятого сотрудника на все информационные ресурсы Администрации.
    Обратите внимание, что если вы являетесь ответственным за подачу заявок, то сможете сформировать отчет только по сотрудникам организации, ответственным за которую вы являетесь.
    Операторы ИР не могут формировать данный отчет, если помимо роли оператора ИР у них нет других ролей.
</p>
<p>
    Подпункт <strong>"Права на информационный ресурс"</strong> позволяет сформировать отчет о всех правах всех сотрудников на отдельно взятый информационный ресурс.
    Ответственные за подачу заявок не могут формировать данный отчет, если помимо этой роли у них нет других ролей.
    Операторы ИР могут формировать отчет по правам только на информационные ресурсы, операторами которых они являются.
</p>
<h1 id="ch_1_1">1.1 Роли пользователей системы</h1>
<p>
    <strong>"Администратор"</strong> - пользователь с полными правами на все действия в программе. Пользователи данной роли
    могут просматривать любую информацию о любых заявках, а также корректировать ее даже после согласования.
    Если вам понадобилась помощь администратора в каком-то вопросе (например, консультация), то следует обратиться к диспетчеру 349-671.
    Обратите внимание, что любые изменения в заявках или информационных ресурсах администратором осуществляются
    исключительно с разрешения директора МКУ "ЦИТиТО".
</p>
<p>
    <strong>"Оператор ИР"</strong> - пользователь, представляющий подразделение администрации, являющееся оператором ИР. 
    Сотрудник, имеющий данную роль имеет право согласования заявок, в которых присутствует запрос на изменение прав доступа к ИР, 
    оператором которых он является.
    В перечне заявок этого сотрудника отображаются заявки на ИР, в которых присутствует запрос на
    изменение прав доступа к ИР, за которую ответственен данный оператор. 
    Также оператор ИР имеет возможность формирования отчета по правам сотрудников в разрезе подконтрольных ИР.
    В детальном просмотре заявки оператора отображаются только те информационные ресурсы и сотрудники,
    которые относятся к его области ответственности.
    <span class="primer">
        Например: если сотруднику выдаются права на АИС "Имущество" и Летограф,
        но оператор ответственнен только за "Имущество", то факт выдачи пользователю прав "Летограф" он не увидит.
    </span>
    При совмещении роли "Оператор ИР" и "Ответственный за подачу заявок" ограничение на просмотр
    списка пользователей и запрашиваемых прав распространяется только на заявки сторонних организаций. 
</p>
<p> <strong>"Ответственный за подачу заявок"</strong> - пользователь, имеющий права на подачу заявок от лица подразделений,
    ответственным в которых он является. В перечне заявок сотрудников с данной ролью отображаются
    все заявки, поданные кем-либо из ответственных подконтрольных подразделений.
    Ответственные за подачу заявок имеют возможность формирования отчета
    по правам конкретного сотрудника одного из подконтрольных подразделений</p>
<p> <strong>"Диспетчер"</strong> - пользователь, который имеет право направлять на исполнение или отклонять любые
    утвержденные заявки, а также отправлять данные заявки на дополнительное согласование.
    В списке заявок для данного пользователя отображаются все заявки, которые когда-либо были утверждены 
    (в том числе заявки на дополнительном согласовании или отклонененные после утверждения).
    Пользователи с данной ролью также имеют право формировать отчеты в разрезе любых ИР и 
    сотрудников любых подразделений. Диспетчером является сотрудник МКУ "ЦИТиТО".</p>
<p> <strong>"Помощник диспетчера"</strong> - пользователь с аналогичными правами на просмотр, что и у диспетчера.
    В отличии от диспетчера помощник диспетчера не может никак изменять заявки 
    (например, отправлять заявку на дополнительное согласовнаие или исполнение).
    Помощник диспетчера является сотрудником МКУ "ЦИТиТО".</p>
<p> <strong>"Исполнитель"</strong> - пользователь с правами просмотра заявок, которые были отправлены на
    исполнение (включая выполненные и отклоненные после отправки на исполнение).
    Исполнители не могут редактировать заявки.
    Пользователи с данной ролью имеют право формировать отчеты в разрезе любых ИР и сотрудников любых подразделений.</p>
<p> <strong>"Ответственный за ведение реестра ресурсов"</strong> - пользователь, который имеет право
    добавлять и редактировать категории ИР и непосредственно ИР, вести информацию для реестра 
    территориальных размещений информационных систем. Никто кроме ролей "Администратор" и "Ответственный за ведение реестра ИР"
    не может изменять справочник ИР и категории ИР. Роль "Ответственный за ведение реестра" не может просматривать 
    заявки (без выдачи дополнительной роли), но может формировать отчеты.</p>
<p>
    <strong>"Доп. согласующий"</strong> - пользователь подразделения администрации, которому направляются заявки на дополнительное согласование.
    В перечне заявок пользователей с данной ролью отображаются только те заявки, которые были направлены ему на доп. согласование.
    Эта роль может быть совмещена с любой другой ролью и выдается автоматически, если она отсутствовала у пользователя на момент отправки
    заявки ему на доп. согласовнаие.
</p>

<h1 id="ch_1_2">1.2 Жизненный цикл заявки</h1>
<p>В реестре учета прав доступа и информационных систем заявка имеет определенный жизненный цикл. 
    Этапы жизненного цикла заявок определяются их статусом. Сущестуют следующие статусы заявок:</p>
<p>
    <strong>"На согласовании"</strong> - заявка получает данный статус на этапе её создания,
    если в заявке присутствует запрос на изменение прав на информационные ресурсы подразделений,
    отличных от подразеделния Ответственного (исключение составляют информационные ресурсы МКУ "ЦИТиТО".
    Их согласование не требуется).
    Заявка будет существовать в этом статусе до тех пор, пока операторы всех подразделений,
    чьи ИР присутствуют в данной заявке, не утвердят ее. После этого заявка приобретет статус "Утвержденная".
    Заявка со статусом "Утвержденная" также может вернуться в статус "На согласовании",
    если диспетчер отправит ее на дополнительное согласование.
    Просмотреть дополнительную информацию о процессе согласования заявки можно на вкладке "Согласование" детального
    просмотра заявки. Подробнее смотрите в разделе <a href="#ch_4_2">"Изменение статуса заявки"</a>
</p>
<p><strong>"Утвержденная"</strong> - заявка получит данный статус на этапе её создание, если в ней
    отсутствуют ИР, требующие согласования (т.е. ИР, не принадлежащие подразделению Ответственного и МКУ "ЦИТиТО"). 
    Статус "Утвержденная" также будет присвоен заявке, когда все Ответственные, чьи ИР присутствуют в заявке, утвердят ее.</p>
<p><strong>"На исполнении"</strong> - утвержденная заявка
    после проверки ее диспетчером и в случае отсутствия необходимости дополнительного согласования, а также
    при отсутствии нарушений при оформлении, отправляется на исполнение.
    Заявка со статусом "На исполнении" автоматически передается в программу AlexApplic для дальнейшей работы с ней исполнителей.
</p>
<p><strong>"Выполненная"</strong> - после выполнения заявки исполнителем она преобретает статус "Выполненная". На этом жизненный цикл заявки завершается.</p>
<p><strong>"Отклоненная"</strong> - заявка может быть отклонена:</p>
<ul>
    <li>Ответственным, подавшим заявку, при условии, что заявка имеет статус "На согласовании"</li>
    <li>На этапе первичного согласования любым из согласующих, чьи ресурсы присутствуют в заявке, а также на этапе дополнительного согласования любым из назначенных согласующих</li>
    <li>На этапе "Утвержденная", а также на доп. согласовании диспетчером</li>
</ul>
<p>Во всех случаях при отклонении заявки обязательно указывается причина отклонения, посмотреть которую
    можно на вкладке "Согласование" детального просмотра заявки. Подробнее смотрите в разделе <a href="#ch_4_2">"Изменение статуса заявки"</a></p>
<h1 id="ch_2">2 Справочник "Категории ресурсов" </h1>

<p>
    Категории ресурсов - это группы информационных ресурсов, служащие для удобной смысловой группировки.
    Право на просмотр информации о категориях ресурсов имеют все неанонимные пользователи.
    Добавлять, удалять и изменять категории ресурсов могут только администраторы и ответственного за ведение реестра ИР.
    Для открытия перечня категорий ресурсов необходимо перейти в пункт главного меню <strong>"Справочники"</strong>, 
    подпункт <strong>"Категории ресурсов"</strong>, <a href="#рис2_1">рисунок 2.1</a>.
</p>

<p id="рис2_1" class="rr-img-wrapper">
    <img src="../../Content/Images/Help/2_1.png">
    <div class="rr-img-title">Рис. 2.1 - Категории ресурсов.</div>
</p>
<p>
    Справочник "Категории ресурсов" представляет собой таблицу.
    Для работы с категориями используются кнопки в правом столбце таблицы <img src="../../Content/Images/Help/Button.png"> - просмотра, редактирование и удаления соответственно.
</p>
<p>
    Для добавления новой категории необходимо нажать на кнопку 
    <img src="../../Content/Images/Help/add_button.png">, расположенную под таблицей.
</p>
<p>
    Для удобного просмотра списка категорий предусмотрена форма поиска и поле выбора количества отображаемых записей,
    расположенные над таблицей. При необходимости отсортировать записи в таблице по алфавиту,
    используются кнопки <img src="../../Content/Images/Help/sort_button.png">, 
    расположенные в заголовках столбцов таблицы.
</p>


<h2 id="ch_2_1">2.1 Добавление категории ресурсов</h2>
<p>
    Для добавления новой категории, на форме "Категория ресурсов", см. <a href="#рис2_1">рисунок 2.1</a>, необходимо нажать на кнопку
    <img src="../../Content/Images/Help/add_button.png">. 
    Откроется форма, представленная на <a href="#рис2_1_1">рисунке 2.1.1</a>.
</p>
<p id="рис2_1_1" class="rr-img-wrapper">
    <img src="../../Content/Images/Help/Add_KR.png">
    <div class="rr-img-title">Рис. 2.1.1 – Новая категория ресурсов</div>
</p>
<p>
    На этой форме необходимо указать обязательно "Наименование" и при необходимости "Описание",
    после чего нажать на кнопку <img src="../../Content/Images/Help/save_button.png">.
</p>
<p>
    Для возврата к перечню категорий ресурсов можно воспользоваться кнопокй <img src="../../Content/Images/Help/back.png">.
</p>

<h2 id="ch_2_2">2.2 Просмотр и редактирование категории ресурсов</h2>
<p>
    Для просмотра детальной информации о категории ресурсов необходимо в перечне категорий ресурсов в строке интересующей категории нажать на кнопку 
    <img src="../../Content/Images/Help/Look_button.png"> (см. <a href="#рис2_1">рисунок 2.1</a>).
    При этом откроется форма, <a href="#рис2_2_1">рисунок 2.2.1</a>.
</p>
    <p id="рис2_2_1" class="rr-img-wrapper">
        <img src="../../Content/Images/Help/Res_edit1.png">
        <div class="rr-img-title">Рис. 2.2.1 - Форма просмотра категории ресурсов</div>
</p>
<p>
    На данной форме можно просмотреть всю имеющуюся информацию о категории ресурсов,
    а также при наличии соответствующих прав перейти к ее изменению кнопкой <img src="../../Content/Images/Help/change_button.png">,
    или удалить данную категорию, нажав кнопку <img src="../../Content/Images/Help/Delete_button_2.PNG">.
</p>
<p>
    Удалить можно только ту категорию, в которой отсутствуют информационные ресурсы. При попытке удаления категории,
    в которой присутствуют информационные ресурсы, будет выведено соответствующее сообщение об ошибке.
</p>
<p>
    Для редактирования категории ресурсов необходимо воспользоваться кнопкой
    <img src="../../Content/Images/Help/edit_button.png"> на форме перечня категорий ресурсов (см. <a href="#рис2_1">рисунок 2.1</a>), 
    либо нажать кнопку <img src="../../Content/Images/Help/change_button.png"> на форме детального просмотра (см. <a href="#рис2_2_1">рисунок 2.2.1</a>).
</p>
<p>
    После нажатия на кнопку редактирования откроется окно редактирования категории ресурсов, 
    в котором можно внести необходимые изменения, <a href="#рис2_2_2">рисунок 2.2.2</a>.
</p>
<p id="рис2_2_2" class="rr-img-wrapper">
    <img src="../../Content/Images/Help/Res_edit_2.png"> 
    <div class="rr-img-title">Рис. 2.2.2 - Форма редактирования категории ресурсов</div>
</p>
<p>
    Для сохранения информации после ее изменения, необходимо нажать кнопку 
    <img src="../../Content/Images/Help/save_button.png">.
</p>
<p>
    Так же, как и на форме детального просмотра, на форме изменения есть возможность удалить категорию ресурсов, нажав на кнопку <img src="../../Content/Images/Help/delete_button_2.png">. 
</p>


<h1 id="ch_3">3 Справочник "Информационные ресурсы"</h1>
<p>
    Информационные ресурсы - это элементы информационной инфраструктуры Администрации, 
    такие как автоматизированные информационные системы, реестры, сетевые папки, почта, интернет и т.д.
    Право на просмотр информации об информационных ресурсах имеют все неанонимные пользователи. 
    Добавлять, удалять и изменять информационные ресурсы могут только администраторы и ответственные за ведение реестра ИР.
</p>
<p>
    Для открытия перечня информационных ресурсов необходимо выбрать пункт главного меню <strong>"Справочники"</strong>, подпункт <strong>"Информационные ресурсы"</strong>. 
    Откроется страница с перечнем всех информационных ресурсов и их описанием, <a href="#рис3_1"> рисунок 3.1:</a>
</p>
<p id="рис3_1" class="rr-img-wrapper">
    <img src="../../Content/Images/Help/IR_form.png">
    <div class="rr-img-title">Рис. 3.1 – Главное меню программы, пункт "Информационные ресурсы"</div>
</p>
<p>
    Работа с перечнем ИР аналогична работе с перечнем категорий ресурсов, см.<a href="#ch_2"> раздел 2</a>.
</p>


<h2 id="ch_3_1">3.1 Добавление ИР</h2>
<p>
    Для добавления нового ИР на форме "Информационные ресурсы", см.<a href="#рис3_1">рисунок 3.1</a>, 
    необходимо нажать на кнопку <img src="../../Content/Images/Help/add_button.png">.
    Появится форма для добавления нового ИР, <a href="#рис3_1_1"> рисунок 3.1.1:</a>
</p>
    <p id="рис3_1_1" class="rr-img-wrapper">
        <img src="../../Content/Images/Help/IR_3.png">
        <div class="rr-img-title">Рис. 3.1.1 - Добавление нового информационного ресурса</div>
    </p>
<p>
    Информация об информационном ресурсе разделена на 5 вкладок для удобства ее редактирования и просмотра:
</p>
<ul>
    <li><strong>Сведения о ресурсе</strong> - на этой вкладке находятся общие сведения об информационном ресурсе,
        краткое описание характера хранимой информации, информация об адресах ИР в сети Интернет и
        сведения о территориальном размещении ИР</li>
    <li><strong>Права</strong> - на этой вкладке находится перечень прав доступа к информационному ресурсу и их описание</li>
    <li><strong>Владелец</strong> - на этой вкладке расположены все сведения о владельце информационного ресурса и о должностных лицах владельца, ответственных за эксплуатацию ИР</li>
    <li><strong>Оператор</strong> - на этой вкладке расположены все сведения об операторе информационного ресурса и о должностных лицах оператора, ответственных за эксплуатацию ИР</li>
    <li><strong>Акты</strong> - на этой вкладке прикрепляются правовые акты, определяющие оператора, порядок размещение и использования информации, устанавливающие полномочия размещения субъектами контроля информации.
        Акты о возложении полномочий на должностных лиц владельцев и операторов прикреляются на вкладках <strong>Владелец</strong> и <strong>Оператор</strong> соответственно</li>
</ul>
<p>При добавлении нового ресурса обязательными для заполнения являются только
    наименование ресурса, категория ресурса, по меньшей мере одно право 
    (наименование права должно присутсововать у всех прав),
    департамент-владелец и департамент-оператор (по умолчанию МКУ "ЦИТиТО").
    Вся остальная информация является необязательной для заполнения и служит для ведения 
    реестра территориальных размещений</p>
<p>Для сохранения информационного ресурса необходимо нажать кнопку <img src="../../Content/Images/Help/save_button.png">. 
    Для отмены сохранения и перехода к перечню информационных ресурсов необходимо нажать кнопку <img src="../../Content/Images/Help/back.PNG">.</p>


<h2 id="ch_3_2">3.2 Просмотр и редактирование ИР</h2>

    <p>
        Для просмотра детальной информации об ИР необходимо в перечне 
        информационных ресурсов в строке интересующего ИР нажать на кнопку
        <img src="../../Content/Images/Help/Look_button.png"> (см. <a href="#рис3_1">рисунок 3.1</a>).
        При этом откроется форма просмотра детальной информации, <a href="#рис3_2_1">рисунок 3.2.1</a>.
    </p>
    <p id="рис3_2_1" class="rr-img-wrapper">
        <img src="../../Content/Images/Help/IR_detail.png">
        <div class="rr-img-title">Рис. 3.2.1 - Форма просмотра информационного ресурса</div>
    </p>
    <p>
        На данной форме можно просмотреть всю имеющуюся информацию об информационном ресурсе,
        а также при наличии соответствующих прав перейти к его изменению кнопкой <img src="../../Content/Images/Help/change_button.png">,
        или удалить данный ресурс, нажав кнопку <img src="../../Content/Images/Help/Delete_button_2.PNG">.
    </p>
    <p>
        Для редактирования информационного ресурса необходимо воспользоваться кнопкой
        <img src="../../Content/Images/Help/edit_button.png"> на форме перечня информационных ресурсов (см. <a href="#рис3_1">рисунок 3.1</a>),
        либо нажать кнопку <img src="../../Content/Images/Help/change_button.png"> на форме детального просмотра (см. <a href="#рис3_2_1">рисунок 3.2.1</a>).
    </p>
    <p>
        После нажатия на кнопку редактирования откроется окно редактирования информационного ресурса, 
        в котором можно внести необходимые изменения, <a href="#рис3_2_2">рисунок 3.2.2</a>.
    </p>
    <p id="рис3_2_2" class="rr-img-wrapper">
        <img src="../../Content/Images/Help/IR_form_2.png">
        <div class="rr-img-title">Рис. 3.2.2 - Форма редактирования ИР</div>
    </p>
    <p>Форма редактирования ИР аналогичная форме добавления нового ИР. Подробнее смотри <a href="#ch_3_1">раздел 3.1.</a></p>
    <p>
        Для сохранения информации после ее изменения, необходимо нажать кнопку
        <img src="../../Content/Images/Help/save_button.png">.
    </p>
    <p>
        Так же, как и на форме детального просмотра, на форме изменения есть возможность удалить информационный ресурс, нажав на кнопку <img src="../../Content/Images/Help/delete_button_2.png">.
    </p>

<h2 id="ch_3_3">3.3 Добавление, удаление и редактирование права на ИР</h2>
<p>
    Для добавления или изменения прав доступа на ИР необходимо воспользоваться вкладкой <strong>"Права"</strong>
    во время добавления или редактирования ИР, см. <a href="#3_3_1">рисунок 3.3.1</a>.
    Подробнее о том, как добавлять и редактировать ИР смотрите в разделах <a href="#ch_3_1">3.1</a> и <a href="#ch_3_2">3.2</a> соответственно.
</p>
<p id="3_3_1" class="rr-img-wrapper">
    <img src="../../Content/Images/Help/Add_pravo.png">
    <div class="rr-img-title">Рис. 3.3.1 - Форма для добавления прав</div>
</p>
<p>
    Для добавления нового права необходимо нажать кнопку <img src="../../Content/Images/Help/Add_Pravo_button.png"/>.
    Право будет добавлено в самом низу перечня прав. Поле <strong>"Наименование"</strong> заполняется обязательно.
</p>
<p>Для удаления права служат кнопки <img src="../../Content/Images/Help/Delete_Pravo_button.png"/> рядом с каждым из прав.
    Если в списке осталось всего одно право, то кнопка удаления будет неактивна
</p>
<p>
    Добавление и удаление прав не сохраняется в справочник ИР до нажатия на кнопку <img src="../../Content/Images/Help/save_button.png">.
</p>

<h2 id="ch_3_4">3.4 Ведение реестра территориальных размещений ИР</h2>
<p>
    Ведением реестра территориальных размещений информационных ресурсов занимается ответственный за ведение реестра ресурсов.
    Данный реестр представляет собой перечень характеристик технического и юридического характера об информационных ресурсах
    и ведется в справочнике информационных ресурсов. Подробнее о том, как редактировать этот справочник можно посмотреть в разделах 
    <a href="#ch_3_1">3.1</a> и <a href="#ch_3_2">3.2</a>.
</p>
<p>Так как законодательно реестр терриориальных размещений служит для ведения информации об информационных системах (ИС),
    а понятие <strong>"Информационный ресурс"</strong> (ИР) несколько более широкое и включает в себя ИС, то некоторая
    информация из данного раздела может не иметь смысла для ИР в целом (например, сетевой адрес ИР "Почта").</p>

<h2 id="ch_3_4_1">3.4.1 Общие сведения, сетевые адреса в сети "Интернет" и сведения о территориальном размещении</h2>
<p>
    К общим сведениям об информационном ресурсе относятся наименование и описание ресурса, ИНН субъекта контроля,
    Email-адрес администратор и краткое описание характера хранимой информации.
    Эта информация располагается на вкладке <strong>Сведения о ресурсе</strong> в группах <strong>"Общие сведения"</strong>
    и <strong>Краткое описание характера информации, размещенной в информационной системе</strong>, см. <a href="#рис3_4_1_1">рисунок 3.4.1.1</a>
</p>
<p id="рис3_4_1_1" class="rr-img-wrapper">
    <img src="../../Content/Images/Help/fed_registry_gen_info.png">
    <div class="rr-img-title">Рис. 3.4.1.1 - Общие сведения об информационном ресурсе</div>
</p>
<p>
    Для заполнения сетевых адресов в сети "Интернет", доменных имен, идентификаторов оборудования и ряда других сетевых характеристик
    служит группа <strong>Сетевые адреса в сети "Интернет"</strong> на вкладке <strong>Сведения о ресурсе</strong>, см. <a href="#рис3_4_1_2">рисунок 3.4.1.2</a>
</p>
<p id="рис3_4_1_2" class="rr-img-wrapper">
    <img src="../../Content/Images/Help/fed_registry_ip_info.png">
    <div class="rr-img-title">Рис. 3.4.1.2 - Сетевые адреса в сети "Интернет"</div>
</p>
<p>
    По умолчанию информационный ресурс не имеет доступа к сети Интернет, поэтому эта группа не отображается.
    Чтобы данная группа информации появилась, необходимо убрать галочку <strong>"Информационная система не имеет доступа к сети Интернет"</strong>.
</p>
<p>
    Информационный ресурс может иметь любое количество адресов в сети Интернет. Для добавления нового адреса
    воспользуйтесь кнопкой <img src="../../Content/Images/Help/Add_ip_button.PNG">. Для удаления - кнопкой <img src="../../Content/Images/Help/Delete_ip_button.PNG">
</p>
<p>
    Во избежании ошибок в формате вводимых IP-адресов используется маска ввода, запрещающающая ввод заведомо некорректных значений.
    Для активации поля IP-адрес DHCP необходимо установить галочку <strong>Динамический IP-адрес</strong>.
</p>
<p>
    Для добавления сведений о территориальном размещении на вкладке <strong>Сведения о ресурсе</strong>
    формы редактирования информационного ресурса
    находится группа <strong>Сведения о территориальном размещении, см. <a href="#рис3_4_1_3">рисунок 3.4.1.3</a></strong>.
</p>
    <p id="рис3_4_1_3" class="rr-img-wrapper">
        <img src="../../Content/Images/Help/fed_registry_dev_location_info.png">
        <div class="rr-img-title">Рис. 3.4.1.3 - Сведения о территориальном размещении</div>
    </p>
<p>
    Информационный ресурс может иметь любое количество территориальных размещений (в том числе, может не иметь их вовсе).
    Для добавления сведений о территориальном размещении воспользуйтесь кнопкой <img src="../../Content/Images/Help/Add_sved_button.png">.
    Для удаления - кнопкой <img src="../../Content/Images/Help/Delete_sved_button.png">
</p>
<p>
    После внесения изменений в информационном ресурсе необходимо нажать кнопку <img src="../../Content/Images/Help/save_button.png">.
    В противном случае внесенные изменения не будут сохранены в реестре.
</p>

<h2 id="ch_3_4_2">3.4.2 Владелец и оператор ИР</h2>
    <p>
        Для внесения информации о владельце и об операторе информационного ресурса служат вкладки <strong>Владелец</strong> и <strong>Оператор</strong>
        на форме редактирования информационного ресурса, см. <a href="#рис3_4_2_1">рисунок 3.4.2.1</a>
        Информация на этих вкладках идентичная, поэтому все описанное ниже для владельца справедливо и для оператора.
    </p>
    <p id="рис3_4_2_1" class="rr-img-wrapper">
        <img src="../../Content/Images/Help/Vladelec.png">
        <div class="rr-img-title">Рис. 3.4.2.1 - Форма владельца информационного ресурса</div>
    </p>
    <p>
        Из всей информации о владельце обязательным является только указание департамент-владельца.
        Вся остальная информация носит необязательный характер.
    </p>
    <p>
        Форма информации о владельце разделена на две группы: <strong>Общие сведения</strong> и <strong>Должностные лица</strong>.
        В общих сведениях хранится информация об официальном наименовании департамента, а также
        адресах исполнительного органа владельца и управляющей организации. В группе <strong>Должностные лица</strong> хранится информация
        об уполномоченных должностных лицах владельца.
    </p>
    <p>
        Для облегчения ведения реестра информационных ресурсов на данной форме реализовано автоматическое
        заполнение общих сведений о департаменте-владельце. Заполнение полей происходит при выборе департамента-владельца
        из выпадающего списка при условии, что ранее эта информация уже была занесена в реестр при редактировании другого
        информационного ресурса того же департамента-владельца. При желании общие сведения о владельце можно подправить.
        При этом информация обновится во всех ресурсах данного владельца и будет подставляться в будущем при добавлении новых ресурсов
        того же департамента-владельца.
    </p>
    <p>
        В случае отсутствия у организации-владельца официального наименования на английском языке, законодательство требует
        использовать русское наименование на транслитерации. Для автоматизации перевода русских наименований на транслитерацию
        служат кнопки <img src="../../Content/Images/Help/Konvert_button.png"> возле полей английских наименований.
    </p>

    <p>
        Для добавления информации о должностных лицах владельца необходимо воспользоваться кнопкой
        <img src="../../Content/Images/Help/Add_dolgn_lico_button.png">. 
        Появятся поля для ввода информации о должностном лице, изображенные на рисунке <a href="#рис3_4_2_2">рисунке 3.4.2.2</a>. При необходимости можно добавить несколько должностных лиц.
    </p>
    <p id="рис3_4_2_2" class="rr-img-wrapper">
        <img src="../../Content/Images/Help/Add_dolgn_lico.png">
        <div class="rr-img-title">Рис. 3.4.2.2 - Должностное лицо - Владельца</div>
    </p>
    <p>
        Чтобы удалить информацию о должностном лице, необходимо нажать на кнопку <img src="../../Content/Images/Help/Delete_dolgn_lico_button.png">.
    </p>
    <p>
        Помимо общей информации о должности и ФИО должностного лица, ответственный может добавить информацию о
        правовых актах о возложении соответствующих полномочий, см <a href="#рис3_4_2_3">рисунок 3.4.2.3</a>.
        Для этого необходимо нажать кнопку <img src="../../Content/Images/Help/Add_akt_button.png">, после чего
        будет выведен перечень полей для ввода информации о реквизитах акта. При необходимости можно добавить более
        одного акта.
    </p>
    <p id="рис3_4_2_3" class="rr-img-wrapper">
        <img src="../../Content/Images/Help/Add_akt_form.png">
        <div class="rr-img-title">Рис. 3.4.2.3 - Правовой акт - Владельца</div>
    </p>
    <p>Помимо реквизитов правового акта можно прикрепить документ самого акта, нажав на кнопку
        <img src="../../Content/Images/Help/attach_act.png"/>.
        В целях безопасности при попытке прикрепления исполняемого файла будет выведено сообщение об ошибке.
    </p>
    <p>В случае необходимости удалить правовой акт нажмите на кнопку <img src="../../Content/Images/Help/Delete_act_button.png"> рядом с
    соответствующим актом</p>
    <p>
        После внесения изменений в информационном ресурсе необходимо нажать кнопку 
        <img src="../../Content/Images/Help/save_button.png">.
        В противном случае внесенные изменения не будут сохранены в реестре.
    </p>

<h2 id="ch_3_4_3">3.4.3 Правовые акты</h2>
<p>
    Помимо правовых актов о возложении полномочий на должностных лиц оператора и владельца реестр позволяет
    прикреплять дополнительные акты:
</p>
<ul>
    <li>Правовые акты, определяющие оператора ИС</li>
    <li>Правовые акты, определяющие порядок размещения и использования информации, размещенной в ИС</li>
    <li>Правовые акты, устанавливающие полномочия размещения субъектами контроля информации в ИС</li>
</ul>
<p>
    Добавляются эти правовые акты на вкладке <strong>"Акты"</strong> 
    формы редактирования ИР, см. <a href="#рис3_4_3_1"> рисунок 3.4.3.1</a>
</p>
    <p id="рис3_4_3_1" class="rr-img-wrapper">
        <img src="../../Content/Images/Help/Akt_form.png">
        <div class="rr-img-title"> Рис. 3.4.3.1 - Правовые акты</div>
</p>
<p>
    Для добавления нового правового акта необходимо нажать на кнопку <img src="../../Content/Images/Help/Add_akt_button.png">
    в соответствующей группе актов, после чего появятся поля для ввода реквизитов акта, см. <a href="#рис3_4_3_2">рисунок 3.4.3.2</a>. 
    При необходимости можно добавить более одного акта в каждой группе.
</p>
    <p id="рис3_4_3_2" class="rr-img-wrapper">
        <img src="../../Content/Images/Help/Akt_min_form.png"><br> Рис. 3.4.3.2 - Добавление правового акта
    </p>
<p>
    Помимо реквизитов правового акта можно прикрепить документ самого акта, нажав на кнопку
    <img src="../../Content/Images/Help/attach_act.png" />.
    В целях безопасности при попытке прикрепления исполняемого файла будет выведено сообщение об ошибке.
</p>
<p>
    В случае необходимости удалить правовой акт нажмите на кнопку <img src="../../Content/Images/Help/Delete_act_button.png"> рядом с
    соответствующим актом
</p>
<p>
    После внесения изменений в информационном ресурсе необходимо нажать кнопку
    <img src="../../Content/Images/Help/save_button.png">.
    В противном случае внесенные изменения не будут сохранены в реестре.
</p>

<h1 id="ch_4">4 Заявки </h1>
<p>Работа с заявками доступна для всех пользователей.</p>
<p>
    Посредством заявок реализуется изменение существующих прав пользователей. Содержимое заявки в программе представляет ту же информацию, как и содержимое в печатной заявке. Взаимодействие с данными объектами, осуществляется через главное меню программы <strong>"Перечень заявок"-&gt; "Все заявки"</strong>
    где можно посмотреть список всех заявок от своего департамента или только своих заявок, добавить новую, отредактировать заявку, а также посмотреть заявки по статусам их выполнения,<a href="#рис18"> рисунок&nbsp;18:</a>
</p>
<p id="рис18" class="rr-img-wrapper">
    <img src="../../Content/Images/Help/Zajavki_form.png" width="90%"> <br>Рис. 18 – Перечень заявок
</p>

<p>При изменении статуса заявок, в главном меню, пункт "Перечень заявок" подсвечиваются цифры соответствующие не просмотренным, изменившим свой статус на новый, заявкам. Изменения видны только по заявкам для департамента, за который ответственнен пользователь, или по заявкам и других департаментов, в которых указано добавить права на ИР департамента, за который ответственнен пользователь.</p>
<p>
    Нажав на кнопку <img src="../../Content/Images/Help/filter_button.png" width="15%">, откроются списки фильтров для выбора нужного списка просматриваемых заявок, <a href="#рис18_1"> рисунок 18.1</a>:
</p>
<p id="рис18_1" class="rr-img-wrapper">
    <img src="../../Content/Images/Help/filter.png" width="80%"> <br>Рис. 18.1 – Фильтр заявок
</p>
<ul>
    <li>
        фильтр <strong>"Статус заявки:"</strong>

        <p>Что такое статус заявки – это состояние, описывающее жизненный цикл заявки. Существуют следующие статусы заявок:</p>
        <ul>
            <li>
                <strong>"На согласовании"</strong>.
            </li>
            <li>
                <strong>"Утвержденная"</strong>.
            </li>
            <li>
                <strong>"На исполнении"</strong>.
            </li>
            <li>
                <strong>"Выполненные"</strong>.
            </li>
            <li>
                <strong>"Отмененные"</strong>.
            </li>
            <li>
                <strong>"Любой статус"</strong>. При выборе данного статуса, отобразится список заявок пользователя или департамента пользователя всех статусов.
            </li>
        </ul>
        <p>
            Значения статусов заявок описаны в <a href="#ch_1_2"> разделе 1.2</a>.
        </p>
        <p>
            При выборе в меню <strong>"Перечень заявок" -&gt; "Статус заявок: ………."</strong>, откроется список заявок, с соответствующим выбранным статусом. В списке заявок будет подсвечиваться розовым цветом непросмотренные, новые заявки этого статуса.
        </p>
    </li>

    <li>
        фильтр <strong>"Категория заявки:"</strong>, <a href="#рис18_2"> рисунок&nbsp;18.2:</a>
        <p id="рис18_2" class="rr-img-wrapper">
            <img src="../../Content/Images/Help/filter_2.png" width="60%"> <br>Рис. 18.2 – Фильтр по категориям заявок
        </p>

    </li>

    <li>
        фильтр заявок по типам, <a href="#рис18_3"> рисунок&nbsp;18.3:</a>
        <p id="рис18_3" class="rr-img-wrapper">
            <img src="../../Content/Images/Help/filter_type.png" width="60%"> <br>Рис. 18.3 – Фильтр по типам заявок
        </p>
        <p>Типы заявок рассмотрены в разделах 4.1.1 - 4.1.4</p>
        <p>Также фильтровать заявки можно по дате подачи заявки, выбрав примерный промежуток дат из выпадающих календарей. </p>
    </li>
</ul>
<p>
    Для поиска нужной заявки используется строка поиска,<a href="#рис18_4"> см.рисунок 18.4</a>. Поск реализован по всем столбцам таблицы заявок.
</p>
<p id="рис18_4" class="rr-img-wrapper">
    <img src="../../Content/Images/Help/filter_3.png" width="90%"> <br>Рис. 18.4 – Строка поиска заявок
</p>

<h2 id="ch_4_1">4.1 Добавление новой заявки</h2>
<p>
    Добавить новую заявку можно нажав кнопку <img src="../../Content/Images/Help/Zajavka_button.png" width="15%"> в форме просмотра заявок, см.<a href="#рис18"> рисунок 18</a>, или через главное меню программы пункт <strong>"Подать заявку" </strong>.
</p>
<p>
    При добавлении новой заявки, будет предложено выбрать один из четырех типов заявки,<a href="#рис19"> рисунок&nbsp;19:</a>
</p>
<p id="рис19" class="rr-img-wrapper">
    <img src="../../Content/Images/Help/menu.png" width="30%"> <br>Рис. 19 - Выбор типа заявки
</p>
<p>При создании любой заявки, а также ее удалении, на почту к пользователю, подавшему заявку приходит письмо о совершении данного действия. </p>
<p>Рассмотрим каждый из четырех типов заявок.</p>

<h3 id="ch_4_1_1">4.1.1 Добавление новой заявки на изменение прав доступа</h3>
<p>
    В заявке данного типа указываются существующие пользователи, которым добавляются, либо отменяются указанные права/ресурсы,<a href="#рис20"> рисунок 20.</a>
</p>
<p>
    Поле "<strong>Описание заявки: </strong>" - это служебное поле, заполняется автоматически, при выборе сотрудника в поле "<strong>ФИО</strong>". При необходимости можно внести свои примечания. &nbsp;
</p>
<p>
    Поле "<strong>ФИО</strong>" - вводится фамилия пользователя, причем после трех введенных букв, программа предложит все подходящие фамилии в соответствии с введенной подстрокой.
</p>
<p>
    Поля "<strong>Логин</strong>","<strong>Должность</strong>","<strong>Департамент</strong>" и "<strong>Отдел</strong>" заполняются автоматически.
</p>
<p>
    Поле "<strong>Примечание</strong>" - данное поле заполняется по необходимости.
</p>
<p id="рис20" class="rr-img-wrapper">
    <img src="../../Content/Images/Help/Z_izm.png" width="90%"> <br> Рис. 20 - Добавление заявки "на изменение прав сотрудника"
</p>
<p>
    В нижней части данной формы "<strong>Предоставить права</strong>" вводятся данные о правах к ИР, которые выбираются пользователем из выпадающих списков:
</p>
<ol>
    <li>Действие (выдать или забрать право). </li>
    <li>ИР к которому принадлежит право. </li>
    <li>Само право. </li>
    <li>Примечание. Вводится пользователем по необходимости.</li>
</ol>
<p>
    При наведении курсором мышки на поля "<strong>ИР</strong>" или "<strong>Право</strong>" появляется всплывающая подсказка, которая показывает краткую информацию о выбранном ИР или праве.
</p>
<p>
    Для каждого ИР предоставляется для выбора свой список прав.
</p>
<p>
    При необходимости добавить сотруднику несколько прав, следует нажать на кнопку <img src="../../Content/Images/Help/Add_Pravo_button.png" width="13%">, откроется дополнительная область с полями для заполнения. При необходимости удалить лишнее право, требуется нажать кнопку <img src="../../Content/Images/Help/Delete_Pravo_button.png" width="13%">.
</p>
<p>
    При желании добавить в заявку сразу нескольких сотрудников, следует нажать на кнопку <img src="../../Content/Images/Help/Add_sotr_button.png" width="15%"> .
</p>
<p>
    Для удаления сотрудника из данной заявки используется кнопка <img src="../../Content/Images/Help/Del_sotrud_button.png" width="15%">.
</p>
<p>
    При заполнении необходимой информации следует нажать кнопку <img src="../../Content/Images/Help/save_button.png" width="15%">, чтобы заявка сохранилась в базу программы. Если же сохранять заявку не надо, нажимаем кнопку <img src="../../Content/Images/Help/back.png" width="15%">, тем самым отменяя сохранение в базу программы.
</p>

<p>&nbsp;</p>

<h3 id="ch_4_1_2">4.1.2 Добавление новой заявки на подключение нового сотрудника</h3>
<p>
    Заявка данного типа предназначена для подключения новых сотрудников к корпоративной сети и наделения их правами, <a href="#22">рисунок 22</a>.
</p>
<p>
    Работа с формой аналогична работе с формой по изменению прав, <a href="#ch_4_1_1"> см. раздел&nbsp;4.1.1 </a>, за исключением того, что все поля необходимо заполнить самостоятельно.
</p>
<p>
    Поля: "<strong>ФИО</strong>", "<strong>Должность</strong>", "<strong>Департамент</strong>" являются обязательными для заполнения.
</p>
<p id="рис22" class="rr-img-wrapper">
    <img src="../../Content/Images/Help/Z_2.png" width="90%"> <br> Рис. 22 - Добавление заявки "на подключение нового сотрудника"
</p>
<p>
    В нижней части окна <strong>"Предоставить права"</strong>, так же следует выбрать ИР и право на него.
    В одной заявке можно подключать нескольких сотрудников и дать им более одного права.
</p>

<h3 id="ch_4_1_3">4.1.3 Добавление новой заявки на отключение пользователей</h3>
<p>Заявка, где указываются пользователи, которых необходимо отключить от корпоративной сети.</p>
<p>
    Поля "<strong>ФИО</strong>" (обязательное для заполнения) и "<strong>Примечание</strong>" заполняется пользователем, остальные поля заполняются программой автоматически, <a href="#рис23"> рисунок 23.</a>
</p>
<p id="рис23" class="rr-img-wrapper">
    <img src="../../Content/Images/Help/Z_delete.png" width="90%"><br> Рис. 23 - Добавление заявки "на отключение сотрудника"
</p>
<p>
    В нижней части формы <strong>"Предоставить права"</strong> требуется выбрать все права на все ИР, которые имелись у данного сотрудника.
</p>
<p>
    Подать заявку можно на отключение нескольких пользователей используя кнопку <img src="../../Content/Images/Help/Add_sotr_button.png" width="15%"> .
</p>
<p>
    Для сохранения заявки, нажмите кнопку &nbsp;<img src="../../Content/Images/Help/save_button.png" width="15%">, для отмены сохранения, кнопку <img src="../../Content/Images/Help/back.png" width="15%">
</p>

<h3 id="ch_4_1_4">4.1.4 Добавление заявки на делегирование прав</h3>
<p>Заявка на передачу прав от одного пользователя другому на определенный период.</p>
<p>
    Как и в любой другой заявке, поле "<strong>Описание</strong>" заполняется автоматически при выборе сотрудников в заявке.
    В заявке заполняются данные пользователя от которого передаются права и пользователя, которому передаются права. Поля заполняются автоматически после выбора сотрудника из выпадающего списка.
    Для указания на какой период делегируются права необходимо заполнить поля "<strong>Дата начала </strong>" и "<strong>Дата окончания</strong>", <a href="#рис24"> рисунок 24.</a>
</p>
<p id="рис24" class="rr-img-wrapper">
    <img src="../../Content/Images/Help/Z_deleg.png" width="75%"><br> Рис. 24 - Добавление заявки на делегирование прав
</p>
<p>
    Также необходимо указать права, которые делегируются, в форме для заполнения <strong>"Делегировать права"</strong>. Для этого следует выбрать ИР которому принадлежит делегируемое право и само право из выпадающих списков.
    Делегировать можно сразу несколько прав для одного сотрудника, добавив права в форме с помощью кнопки <img src="../../Content/Images/Help/Add_Pravo_button.png" width="13%">
    Делегировать так же можно разные права разным сотрудникам, добавив с помощью кнопки <img src="../../Content/Images/Help/Add_sotr_button.png" width="15%"> сотрудника, которому будут делегированы права.
</p>
<p>
    Для сохранения заявки, нажмите кнопку &nbsp;<img src="../../Content/Images/Help/save_button.png" width="15%">, для отмены сохранения кнопку <img src="../../Content/Images/Help/back.png" width="15%">
</p>

<h2 id="ch_4_2">4.2 Изменение статуса заявки (утвердить, отклонить,согласовать, на исполнение, выполнить)</h2>
<p>
    Заявка, в которой присутствовал запрос о правах на ИР, за которые пользователь, подавший заявку, не является ответственным, приобретает статус "На согласовании".
    Пользователю, которому на почту пришло письмо с просьбой о согласовании заявки с сылкой на нее, должен зайти в систему и нажать на кнопку "Утвердить" или "Отклонить", <a href="#рис25">рисунок 25</a>.
</p>
<p id="рис25" class="rr-img-wrapper">
    <img src="../../Content/Images/Help/Ha_soglas.png" width="65%"><br> Рис. 25 – Ожидается согласование
</p>
<p>
    Заявка приобретает статус "Утверждена" или "Отклонена" соответственно, <a href="#рис26">рисунок 26</a> . На почту создателя заявки приходит сообщение о изменении статуса заявки.
    Также согласующий пользователь может написать комментарий во вкладке <strong>"Комментарий"</strong> в форме заявки.
</p>
<p id="рис26" class="rr-img-wrapper">
    <img src="../../Content/Images/Help/Perv_soglos.png" width="65%"><br> Рис. 26 – Заявка согласована
</p>

<p>
    В случае, если требуется дополнительное согласование заявки со статусом "Утвержденная", администратор или диспетчер могут отправить заявку на доп.согласование пользователю, имеющему права "Доп.согласующего".
    Данное действие выполняется в заявке, выбранной из списка заявок, при ее редактировании или просмотре. Во вкладке "<strong>Согласование</strong>",<a href="#26"> рисунок 26</a>.
</p>
<p id="рис26" class="rr-img-wrapper">
    <img src="../../Content/Images/Help/Dop_sogl.png" width="75%"><br> Рис. 26 – Форма для доп.согласования
</p>
<p>
    В данной форме следует выбрать пользователя в выпадающем списке "<strong>ФИО</strong>". Далее нажать на кнопку <img src="../../Content/Images/Help/Otpravit_button.png" width="15%">, откроется окно,<a href="#27"> рисунок 27</a>; или отменить действие <img src="../../Content/Images/Help/Otmena_button.png" width="15%">. Данному пользователю будет отправлено на почту письмо, с просьбой о согласовании заявки.

</p>
<p id="рис27" class="rr-img-wrapper">
    <img src="../../Content/Images/Help/sogl_2.png" width="75%"><br> Рис. 27 – Ожидание дополнительного согласования
</p>
<p> Пользователь "Администратор" или "Диспетчер" имеет право направить утвержденную заявку на исполнение, нажав кнопку "На исполнение", при этом пользователю, который подал заявку придет уведомление о смене статуса заявки. </p>
<h1 id="ch_5">5 Отчеты </h1>
<p>
    Система позволяет формировать отчеты по правам пользователей в разрезе информационных ресурсов и самих пользователей на конкретную дату, пункт меню <strong>"Отчеты"</strong>, см.<a href="рис28">рисунок 28</a>.
</p>
<p id="рис28" class="rr-img-wrapper">
    <img src="../../Content/Images/Help/Otchet.png" width="80%"><br> Рис. 28 – Отчеты
</p>
<p>
    Отчеты могут быть представлены в виде карточек и в виде таблиц, по желанию пользователя. Для этого необходимо воспользоваться кнопками <img src="../../Content/Images/Help/Kartochki_button.png" width="15%"> и <img src="../../Content/Images/Help/tabl_button.png" width="15%">.
</p>

<h2 id="ch_5_1">5.1 Отчет по правам конкретного сотрудника</h2>
<p>
    Для просмотра отчета по правам, имеющимся у конкретного сотрудника, на конкретную дату, следует выбрать в главном меню программы пункт <strong>"Отчеты"</strong>-<strong>"Права конкретного сотрудника"</strong>, <a href="рис29">рисунок 29</a>.
</p>
<p id="рис29" class="rr-img-wrapper">
    <img src="../../Content/Images/Help/Otchet_1.png" width="80%"><br> Рис. 29 – Отчет о правах сотрудника на дату(карточки)
</p>
<p>
    Для получения отчетной формы, необходимо выбрать дату, из выпадающего календаря и выбрать в поле <strong>"Сотрудник"</strong> ФИО сотрудника. Программа сразу выведет на экран список прав на выбранную дату.
    На рисунке видно, что одно право на ИР, из всего списка, выделено розовым цветом. Данное право было делегировано другому сотруднику на определенный промежуток времени, и на данную дату эти права не принадлежат выбранному сотруднику.
</p>
<p>
    Отчет в виде таблицы, представлен на <a href="#30">рисунке 30</a>:
</p>
<p id="рис30" class="rr-img-wrapper">
    <img src="../../Content/Images/Help/Otchet_2.png" width="80%"><br> Рис. 30 – Отчет о правах сотрудника на дату(таблица)
</p>
<h2 id="ch_5_2">5.2 Отчет по правам на информационный ресурс</h2>
<p>
    Для просмотра отчета следует выбрать в главном меню программы пункт <strong>"Отчеты"</strong>-<strong>"Права на информационный ресурс"</strong>. Далее следует выбрать требуемую дату из выпадающего календаря и ввести в поле <strong>"Информационный ресурс"</strong> ресурс. Программа автоматически выведет отчет на экран. Отчет по правам на ИР представлен на <a href="рис29">рисунок 31</a>.
</p>
<p id="рис31" class="rr-img-wrapper">
    <img src="../../Content/Images/Help/Otchet_IR.png" width="80%"><br> Рис. 31 – Отчет по правам на ИР
</p>
</div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/rr-help")
}