@{
    ViewBag.Title = "Главная";
}

<div class="jumbotron">
    <h1>Реестр прав доступа</h1>
    <p class="lead">Реестр прав доступа к информационным ресурсам администрации позволяет в электронном виде подать заявку на предоставление доступа сотрудникам</p>
    <p>
        @Html.ActionLink("Подробнее »", "Help", null, new { @class = "btn btn-primary btn-lg" })
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Как подать заявку?</h3>
        <p>
            Lorem ipsum dolor sit amet, pri ludus dolorem alienum at. Quo utinam libris et, eos ei saepe fabulas, diceret accumsan disputando mea ea. Eu natum animal abhorreant vel, at usu.
        </p>
        <p>
            @Html.ActionLink("Подробнее »", "Help", null, new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-4">
        <h3>Где посмотреть заявки?</h3>
        <p>
            Lorem ipsum dolor sit amet, pri ludus dolorem alienum at. Quo utinam libris et, eos ei saepe fabulas, diceret accumsan disputando mea ea. Eu natum animal abhorreant vel, at usu.
        </p>
        <p>
            @Html.ActionLink("Подробнее »", "Help", null, new {@class = "btn btn-default"})
        </p>
    </div>
    <div class="col-md-4">
        <h3>Какие права у сотрудника?</h3>
        <p>
            Lorem ipsum dolor sit amet, pri ludus dolorem alienum at. Quo utinam libris et, eos ei saepe fabulas, diceret accumsan disputando mea ea. Eu natum animal abhorreant vel, at usu.
        </p>
        <p>
            @Html.ActionLink("Подробнее »", "Help", null, new { @class = "btn btn-default" })
        </p>
    </div>
</div>