@{
    ViewBag.Title = "Главная";
}

<div class="jumbotron">
    <h1>Реестр учета прав доступа и информационных ресурсов</h1>
    <p class="lead">Реестр учета прав доступа и информационных ресурсов позволяет в электронном виде подавать заявки на предоставление доступа сотрудникам, а также вести информацию технического и юридического характера об информационных ресурсах администрации</p>
    <p>
        @Html.ActionLink("Подробнее »", "Help", null, new { @class = "btn btn-primary btn-lg" })
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Как подать заявку?</h3>
        <p>
            Добавить новую заявку можно при выборе в главном меню пункта «Подать заявку».
            Всего существует четыре типа заявок: на подключение и отключение сотрудников, на делегирование и изменение прав доступа.
        </p>
        <p>
            <a href="@Url.Action("Help")#ch_4_1" class="btn btn-default">Подробнее »</a>
        </p>
    </div>
    <div class="col-md-4">
        <h3>Где посмотреть заявки?</h3>
        <p>
            Для того, чтобы посмотреть список заявок, необходимо выбрать пункт меню «Перечень заявок».
            В данном пункте меню можно выбрать категорию заявок для отображения, а также посмотреть количество новых заявок.
        </p>
        <p>
            <a href="@Url.Action("Help")#ch_4" class="btn btn-default">Подробнее »</a>
        </p>
    </div>
    <div class="col-md-4">
        <h3>Какие права у сотрудника?</h3>
        <p>
            Если вам необходимо посмотреть, какие права имеет сотрудник на текущий момент или имел на какой либо момент в прошлом, то воспользуйтесь пунктом меню «Отчеты».
            В этом меню необходимо выбрать пункт «Права конкретного сотрудника»
        </p>
        <p>
            <a href="@Url.Action("Help")#ch_5_1" class="btn btn-default">Подробнее »</a>
        </p>
    </div>
</div>