@model string

@{
    ViewBag.Title = "Ошибка";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-danger">Ошибка 409. Ошибка на стороне сервера</h2>
<p>@Model</p>
<p>Обратитесь к администратору по телефону 349-662</p>