
@{
    ViewBag.Title = "UnknownServerError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-danger">Ошибка 500</h2>
<p>На сервере произошла неизвестная ошибка. Обратитесь к администратору по телефону 349-662</p>

